<!-- Test Modal -->
<div class="modal" id="test-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <app-test-individual [countries]="countries"></app-test-individual>
      </div>
    </div>
  </div>
</div>


<!-- Order Modal -->
<div class="modal pb-3" id="order-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <app-form-order [countries]="countries" *ngIf="isVoiceMode"></app-form-order>
        <app-form-preorder-brainmode *ngIf="!isVoiceMode"></app-form-preorder-brainmode>
      </div>
    </div>
  </div>
</div>
