<section class="d-flex justify-cntent-center align-items-center" id="hero" [class.bg-moovobrain-hero]="!isOnHome" [ngClass]="isOnHome ? 'bg-home-hero' : 'bg-moovobrain-hero'" #herosection>
  <div class="container carousel carousel-fade" data-ride="carousel" id="heroCarousel">

    <!-- Slides for home page -->
    <div *ngIf="isOnHome">
      <div *ngFor="let slide of slidesHome ; let i = index" [class.active]="i===0" class="carousel-item">
        <div class="carousel-container">
          <h2 class="animated fadeInDown">{{slide.title}}</h2>
          <p class="animated fadeInUp">{{slide.description}}</p>
          <a [routerLink]="'/moovobrain'" class="btn-get-started animated fadeInUp">Know More</a>
        </div>
      </div>
    </div>

    <!-- Slides for MOOVOBRAIN page -->
    <div *ngIf="!isOnHome">
      <div *ngFor="let slide of slidesMoovobrain ; let i=index" [class.active]="i===0" class="carousel-item">
        <div class="carousel-container">
          <h2 class="animated fadeInDown">{{slide.title}}</h2>
          <p class="animated fadeInUp">{{slide.description}}</p>
          <a [routerLink]="'/moovobrain'" class="btn-get-started animated fadeInUp" data-target="#order-modal"
             data-toggle="modal">Order</a>
          <a [routerLink]="'/moovobrain'" class="btn-get-started animated fadeInUp" data-target="#test-modal"
             data-toggle="modal">Test</a>
        </div>
      </div>
    </div>


  </div>

  <a *ngIf="!isOnHome" class="arrow bounce scroll-down">
    <i class="icofont-rounded-down"></i>
  </a>

</section><!-- End Hero -->

<!-- ======= Logo on SD Section======= -->
<div *ngIf="isOnHome" class="logo float-left show-on-sd" data-aos="fade-down" id="logoSD">
  <a href="index.html"><img alt="logo missing..." class="img-fluid" src="assets/img/logo-black.png"></a>
</div>
<!-- End logo on SD  -->
