button[disabled] {
  cursor: not-allowed;
  background: rgba(5, 20, 65, 0.86) !important;
}

.join-us-title {
  font-size: 35px;
  line-height: 55px;
  font-weight: 600;
  color: #2c2c51;
  margin-bottom: 16px;
  text-align: center;
}

.image-sizing {
  max-width: 78px;
}
