<h3 class="join-us-title">
<!--  <img alt="image missing..." class="image-sizing" src="assets/img/illustrations/form/agreement.svg">-->
  BRAIN MODE PRE-ORDER
</h3>

<form [formGroup]="form" id="msform">
  <div class="row justify-content-center mt-0">
    <div class="col-12">
      <div class="card">
        <div class="row">
          <div class="col-md-12 mx-0">

            <!-- progressbar -->
            <!--            <ul id="progressbar">-->
            <!--              <li class="active step-title" id="wheelchair"><strong>Wheelchair</strong></li>-->
            <!--              <li class="step-title" id="security"><strong>Safety</strong></li>-->
            <!--              <li class="step-title" id="accessories"><strong>Accessories</strong></li>-->
            <!--              <li class="step-title" id="services"><strong>Services</strong></li>-->
            <!--              <li class="step-title" id="payment"><strong>Payment</strong></li>-->
            <!--              <li class="step-title" id="confirmation"><strong>Confirmation</strong></li>-->
            <!--            </ul>-->

            <!-- ====================================
                  # Every fieldset represents a form step
                 ====================================-->

            <fieldset>
              <div class="form-row">
                <div class="col-12">
                  <p [class.show]="clientNature==='none'" class="text-left text-dark fade">Please specify if you are an
                    individual or an organization : </p>
                  <div class="form-group">
                    <select #clientNatureSelect (change)="changeClientNature(clientNatureSelect.value)"
                            class="form-control"
                            formControlName="clientNature" id="client-nature">
                      <option disabled selected value="">Select Here</option>
                      <option value="individual">Individual</option>
                      <option value="organisation">Organisation</option>
                    </select>
                  </div>
                </div>
              </div>

              <!--==================
                  # Individual form
                  ==================-->
              <div *ngIf="clientNature === 'individual'">

                <section class="contact" style="padding: 0">


                  <div class="row">

                    <div class="col-lg-12">
                      <div class="join-us-form">
                        <div class="form-row">
                          <div class="col-md-6 form-group">
                            <input autocomplete="off" class="form-control" formControlName="iName"
                                   id="i-name" placeholder="Your Name" type="text"/>
                            <small *ngIf="form.get('iName').invalid && form.get('iName').touched"
                                   class="form-text text-danger">
                              <i class="icofont-warning-alt"></i>
                              Please enter your name
                            </small>
                          </div>

                          <div class="col-md-6 form-group">
                            <input autocomplete="off" class="form-control" formControlName="iEmail"
                                   id="i-email" placeholder="Your Email" type="email"/>
                            <small *ngIf="form.get('iEmail').invalid && form.get('iEmail').touched"
                                   class="form-text text-danger">
                              <i class="icofont-warning-alt"></i>
                              Please a valid email
                            </small>
                          </div>
                        </div>

                        <div class="form-row">

                          <div class="col-md-6 form-group">
                            <input class="form-control" formControlName="iBirthday"
                                   id="individual-birthday" onfocus="this.type='date'" placeholder="Your Birthday"
                                   type="text">
                            <small *ngIf="form.get('iEmail').invalid && form.get('iEmail').touched"
                                   class="form-text text-danger">
                              <i class="icofont-warning-alt"></i>
                              Please enter your Birthday
                            </small>
                          </div>

                          <div class="col-md-4 col-sm-8">
                            <div class="form-group">
                              <input autocomplete="off" class="form-control" formControlName="iAddress"
                                     id="iAddress" placeholder="Your full address" type="text"/>
                              <small
                                *ngIf="(form.get('iAddress').invalid && form.get('iAddress').touched)|| (form.get('iZipCode').invalid && form.get('iZipCode').touched)"
                                class="form-text text-danger">
                                <i class="icofont-warning-alt"></i>
                                Please enter your address and zip code
                              </small>
                            </div>
                          </div>

                          <div class="col-md-2 col-sm-4">
                            <div class="form-group">
                              <input autocomplete="off" class="form-control" formControlName="iZipCode"
                                     id="iZipCode" placeholder="ZIP code" type="number"/>
                            </div>
                          </div>


                        </div>

                        <div class="form-row">

                          <div class="col-md-6 form-group">
                            <input class="form-control" formControlName="iPhone"
                                   id="i-phone" oninput="!value.includes('-')||(value='')"
                                   placeholder="Your Phone Number"
                                   type="number"/>
                            <small *ngIf="form.get('iPhone').invalid && form.get('iPhone').touched"
                                   class="form-text text-danger">
                              <i class="icofont-warning-alt"></i>
                              Please enter a valid phone number
                            </small>
                          </div>

                          <div class="col-md-6 form-group">
                            <input class="form-control" formControlName="iHandicap" list="handicaps"
                                   placeholder="Handicap Type (Specify if not listed)">
                            <small *ngIf="form.get('iHandicap').invalid && form.get('iHandicap').touched"
                                   class="form-text text-danger">
                              <i class="icofont-warning-alt"></i>
                              Please specify the handicap
                            </small>
                          </div>
                        </div>

                      </div>
                    </div>

                  </div>


                </section>


              </div>
              <!--==================
                  # Organisation form
                  ==================-->
              <div *ngIf="clientNature === 'organisation'">
                <section class="contact" style="padding: 0">
                  <div class="row">

                    <div class="col-lg-12">
                      <div class="join-us-form">
                        <div class="form-row">

                          <div class="col-md-6 form-group">
                            <input autocomplete="off" class="form-control" formControlName="oName"
                                   id="o-name" placeholder="Organisation name" type="text"/>
                            <small *ngIf="form.get('oName').invalid && form.get('oName').touched"
                                   class="form-text text-danger">
                              <i class="icofont-warning-alt"></i>
                              Please enter the organisation name
                            </small>
                          </div>

                          <div class="col-md-6 form-group">
                            <input class="form-control" formControlName="oType" id="o-type"
                                   list="organisations" placeholder="Organisation Type (Specify if not listed)">
                            <small *ngIf="form.get('oType').invalid && form.get('oType').touched"
                                   class="form-text text-danger">
                              <i class="icofont-warning-alt"></i>
                              Please enter the organisation type
                            </small>
                            <datalist id="organisations">
                              <option value="Company">
                              <option value="Hospital">
                              <option value="Association">
                            </datalist>
                          </div>

                        </div>

                        <div class="form-row">

                          <div class="col-md-6 form-group">
                            <input class="form-control" formControlName="oSector"
                                   id="o-sector" placeholder="Organisation Sector" type="text">
                            <small *ngIf="form.get('oSector').invalid && form.get('oSector').touched"
                                   class="form-text text-danger">
                              <i class="icofont-warning-alt"></i>
                              Please enter the organisation sector
                            </small>
                          </div>

                          <div class="col-md-6 form-group">
                            <input class="form-control" formControlName="oRegistrationNumber"
                                   id="o-registration"
                                   placeholder="Registration Number" type="text">
                            <small
                              *ngIf="form.get('oRegistrationNumber').invalid && form.get('oRegistrationNumber').touched"
                              class="form-text text-danger">
                              <i class="icofont-warning-alt"></i>
                              Please enter the Registration number
                            </small>
                          </div>

                        </div>

                        <div class="form-row">

                          <div class="col-md-6 form-group">
                            <input class="form-control" formControlName="oResponsibleName"
                                   id="responsible" placeholder="Responsible Name" type="text">
                            <small *ngIf="form.get('oResponsibleName').invalid && form.get('oResponsibleName').touched"
                                   class="form-text text-danger">
                              <i class="icofont-warning-alt"></i>
                              Please enter the responsible name
                            </small>
                          </div>

                          <div class="col-md-6 form-group">
                            <input class="form-control" formControlName="oHandicap" id="o-handicap" list="handicaps"
                                   placeholder="Handicap Type (Optional)">
                            <datalist id="handicaps">
                              <option value="Paralyzed">
                              <option value="quadriplegic">
                              <option value="paraplegic">
                            </datalist>

                          </div>

                        </div>

                        <div class="form-row">

                          <div class="col-md-4 col-sm-8">
                            <div class="form-group">
                              <input autocomplete="off" class="form-control" formControlName="oAddress"
                                     id="oAddress" placeholder="Your full address" type="text"/>
                              <small
                                *ngIf="(form.get('oAddress').invalid && form.get('oAddress').touched)|| (form.get('oZipCode').invalid && form.get('oZipCode').touched)"
                                class="form-text text-danger">
                                <i class="icofont-warning-alt"></i>
                                Please enter your address and zip code
                              </small>
                            </div>
                          </div>

                          <div class="col-md-2 col-sm-4">
                            <div class="form-group">
                              <input autocomplete="off" class="form-control" formControlName="oZipCode"
                                     id="oZipCode" placeholder="ZIP code" type="number"/>
                            </div>
                          </div>

                          <div class="col-md-6 form-group">
                            <input autocomplete="off" class="form-control" formControlName="oPhone"
                                   id="o-phone" placeholder="Organisation Phone Number" type="number"/>
                            <small *ngIf="form.get('oPhone').invalid && form.get('oPhone').touched"
                                   class="form-text text-danger">
                              <i class="icofont-warning-alt"></i>
                              Please enter the phone number
                            </small>
                          </div>

                        </div>

                        <div class="form-row">

                          <div class="col-md-12 form-group">
                            <input class="form-control" formControlName="oEmail"
                                   id="o-email" placeholder="Organisation Email" type="text">
                            <small *ngIf="form.get('oEmail').invalid && form.get('oEmail').touched"
                                   class="form-text text-danger">
                              <i class="icofont-warning-alt"></i>
                              Please enter a valid email
                            </small>
                          </div>


                        </div>

                      </div>
                    </div>

                  </div>


                </section>

              </div>


              <button class="confirm btn action-button" type="submit"
                      [disabled]="(!((form.get('iName').valid && form.get('iEmail').valid && form.get('iBirthday').valid && form.get('iAddress').valid && form.get('iZipCode').valid && form.get('iPhone').valid && form.get('iHandicap').valid) || (form.get('oName').valid && form.get('oType').valid && form.get('oSector').valid && form.get('oRegistrationNumber').valid && form.get('oResponsibleName').valid && form.get('oHandicap').valid && form.get('oAddress').valid && form.get('oZipCode').valid && form.get('oPhone').valid && form.get('oEmail').valid))) || isAlreadyPreordered"
                      [title]="!((form.get('iName').valid && form.get('iEmail').valid && form.get('iBirthday').valid && form.get('iAddress').valid && form.get('iZipCode').valid && form.get('iPhone').valid && form.get('iHandicap').valid) || (form.get('oName').valid && form.get('oType').valid && form.get('oSector').valid && form.get('oRegistrationNumber').valid && form.get('oResponsibleName').valid && form.get('oHandicap').valid && form.get('oAddress').valid && form.get('oZipCode').valid && form.get('oPhone').valid && form.get('oEmail').valid)) ? 'one of the two forms must be filled and submitted only once' : ''"
                      (click)="preOrderMoovobrainBrainMode()">
                <app-loader addSpace="true" *ngIf="isLoading"></app-loader>
                Pre-order
              </button>

            </fieldset> <!-- Payment -->

          </div>
        </div>
      </div>
    </div>
  </div>


  <!--  Modal footer -->
  <div class="modal-footer container pt-2">
    <div class="d-flex row" style="width: 100%">

      <div>
        <h6 class="d-inline">Quantity &nbsp;</h6>
        <input
          min="1"
          id="quantity" name="quantity"
          step="1" style="width: 40px" type="number"
          formControlName="quantity">
      </div>


    </div>
  </div>

</form>
