<main id="main">


  <!-- ======= Contact Section ======= -->
  <section class="contact" data-aos="fade-up" data-aos-duration="500" data-aos-easing="ease-in-out">


    <div class="container-lg pr-md-5 pl-md-5">
      <div class="row forms-container">

        <div class="col-md-12 order-md-1 custom-padding">
<!--          <app-login></app-login>-->
          <router-outlet></router-outlet>
        </div>
<!--        <div class="col-md-1 order-md-0 pr-0 pl-0">-->
<!--          <app-side-bar></app-side-bar>-->
<!--        </div>-->

      </div>

    </div>
  </section>

</main>
