<!--
  this component is called here so it always get loaded so we can always access it to toggle the
  model by it's ID
 -->
<app-scheduled-controls></app-scheduled-controls>


<!-- ======= Header ======= -->


<header id="header" class="fixed-top box-shadow">
  <div class="container">

    <div class="logo float-left" id="logo">
      <a [routerLink]="'home'"><img src="assets/img/logo-white.png" alt="logo missing..." class="img-fluid"></a>
    </div>

    <nav class="nav-menu float-xl-right d-none d-lg-block" #nav>
      <ul>
        <li [routerLinkActive]="'active'"><a class="remove-href" routerLink="home">Home</a></li>
        <li [routerLinkActive]="'active'"><a class="remove-href" routerLink="moovobrain">MOOVOBRAIN</a></li>
        <li [routerLinkActive]="'active'"><a class="remove-href" routerLink="about">About us</a></li>
        <li [routerLinkActive]="'active'"><a class="remove-href" routerLink="join-us">Join us</a></li>
        <li [routerLinkActive]="'active'"><a class="remove-href" routerLink="news">News</a></li>
        <li [routerLinkActive]="'active'"><a class="remove-href" routerLink="contact">Contact us</a></li>
        <li [routerLinkActive]="'active'" *ngIf="!isAuthenticated"><a [routerLink]="'sign-in'"><i class="icofont-ui-user"></i> Sign in</a></li>

        <li [routerLinkActive]="'active'" class="dropdown" *ngIf="isAuthenticated"><app-account-dropdown></app-account-dropdown></li>
        <li><a href="https://ge-admin.web.app/" target="_blank">Dashboard</a></li>
      </ul>
    </nav>

  </div>


</header><!-- End Header -->
