<!-- ======= Footer ======= -->
<footer id="footer" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-delay="0" data-aos-duration="500">

  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a routerLink="/home">Home</a></li>
            <li><i class="bx bx-chevron-right"></i> <a routerLink="/about">About us</a></li>
            <li><i class="bx bx-chevron-right"></i> <a routerLink="/moovobrain" [queryParams]="{mode:'voice'}">MOOVOBRAIN voice mode</a></li>
            <li><i class="bx bx-chevron-right"></i> <a routerLink="/moovobrain" [queryParams]="{mode:'brain'}">MOOVOBRAIN brain mode</a></li>
            <li><i class="bx bx-chevron-right"></i> Legal policy</li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> Training Sessions</li>
            <li><i class="bx bx-chevron-right"></i> Repair & Maintenance</li>
            <li><i class="bx bx-chevron-right"></i> Quarterly Quality Control</li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-contact">
          <h4>Contact Us</h4>
          <p>
            Business incubator,  <br>
            Elgazala Technopark, Raoued, 2088<br>
            Ariana, Tunisia <br><br>
            <strong>Phone: <br> </strong> +216 26 772 923 / +216 50 503 198<br>
            <strong>Email: <br> </strong> contact@gewinner.tn<br>
          </p>


        </div>

        <div class="col-lg-3 col-md-6 footer-info">
          <h3>About GEWINNER</h3>
          <p class="text-justify">GEWINNER is a Tunisian HealthTech startup which provide smart solutions for people with special needs</p>
          <div style="width: 100%">
            <img src="assets/img/start-up-logo.png" width="50" class="mt-2" alt="startup act logo">
          </div>
          <div class="social-links mt-3">
            <a href="https://twitter.com/GewinnerContact" class="twitter" target="_blank"><i class="bx bxl-twitter"></i></a>
            <a href="https://www.youtube.com/channel/UCrenyVoZ2udY4eELGN_cy6w" class="youtube" target="_blank"><i class="bx bxl-youtube"></i></a>
            <a href="https://www.facebook.com/GeWinner-177815189503947/" class="facebook" target="_blank"><i class="bx bxl-facebook"></i></a>
            <a href="https://www.instagram.com/gewinner.tn/" class="instagram" target="_blank"><i class="bx bxl-instagram"></i></a>
            <a href="https://www.linkedin.com/company/gewinner2018/" class="linkedin" target="_blank"><i class="bx bxl-linkedin"></i></a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>Gewinner</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      2018-2020
    </div>
  </div>
</footer><!-- End Footer -->
