<!-- ======= Footer ======= -->
<footer id="footer" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-delay="0" data-aos-duration="500">

  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Training Sessions </a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Repair & Maintenance</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Quarterly Quality Control</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-contact">
          <h4>Contact Us</h4>
          <p>
            Business incubator,  <br>
            Elgazala Technopark, Raoued, 2088<br>
            Ariana, Tunisia <br><br>
            <strong>Phone: <br> </strong> +216 26 772 923 / +216 50 503 198<br>
            <strong>Email: </strong> contact@gewinner.tn<br>
          </p>


        </div>

        <div class="col-lg-3 col-md-6 footer-info">
          <h3>About Gewinner</h3>
          <p>GEWINNER is a Tunisian Healthtech startup that was founded in 2017 by four ladies to make disabled people’s life easier.</p>
          <div class="social-links mt-3">
            <a href="https://twitter.com/GewinnerContact" class="twitter" target="_blank"><i class="bx bxl-twitter"></i></a>
            <a href="https://www.youtube.com/channel/UCrenyVoZ2udY4eELGN_cy6w" class="youtube" target="_blank"><i class="bx bxl-youtube"></i></a>
            <a href="https://www.facebook.com/GeWinner-177815189503947/" class="facebook" target="_blank"><i class="bx bxl-facebook"></i></a>
            <a href="https://www.instagram.com/gewinner_2018/" class="instagram" target="_blank"><i class="bx bxl-instagram"></i></a>
            <a href="https://www.linkedin.com/company/gewinner2018/" class="linkedin" target="_blank"><i class="bx bxl-linkedin"></i></a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>Gewinner</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      2018-2020
    </div>
  </div>
</footer><!-- End Footer -->
