<div class="row">

  <div class="col-sm-6 margin-bottom">
    <div class="news-item">
      <a class="post-date">
        <h2>18<span>Oct</span></h2>
      </a>
      <a [routerLink]="[5]">
        <figure>
          <img
            alt="news image missing..." class="img-fluid"
            src="assets/img/news/thumbnails/news-health-valley.jpg">
        </figure>
      </a>
      <div class="blog-content" style="width: 100%;">
        <a [routerLink]="[5]">
          <h5 class="blog-title">Tunisia e-Health Valley</h5>
        </a>
        <p>Today we meet to talk about something that is close to my heart. it's ... </p>
        <div class="post-info-bottom">
          <a class="read-more" [routerLink]="[5]">
                    <span class="hover-underline">
                      Read More <i class="icofont-arrow-right"></i>
                    </span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6 margin-bottom">
    <div class="news-item">
      <a class="post-date">
        <h2>09<span>Oct</span></h2>
      </a>
      <a [routerLink]="[5]">
        <figure>
          <img
            alt="news image missing" class="img-fluid"
            src="assets/img/news/thumbnails/price-check.jpg">
        </figure>
      </a>
      <div class="blog-content" style="width: 100%;">
        <a [routerLink]="[5]">
          <h5 class="blog-title">We Are The Future</h5>
        </a>
        <p>Over a year ago, Gewinner started the moovobrain project ...</p>
        <div class="post-info-bottom">
          <a class="read-more" [routerLink]="[5]">
                    <span class="hover-underline">
                      Read More <i class="icofont-arrow-right"></i>
                    </span>
          </a>

        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6 margin-bottom">
    <div class="news-item"><a class="post-date">
      <h2>22<span>Dec</span></h2>
    </a>
      <a [routerLink]="[5]">
        <figure>
          <img
            alt="news image missing" class="img-fluid"
            src="assets/img/news/thumbnails/news-bws.jpg">
        </figure>
      </a>
      <div class="blog-content" style="width: 100%;">
        <a [routerLink]="[5]">
          <h5 class="blog-title">
            BWS : Bees Web Solutions
          </h5>
        </a>
        <p>
          On se rencontre Aujourd’hui pour parler de la technologie qui aura un ...
        </p>
        <div class="post-info-bottom">
          <a class="read-more" [routerLink]="[5]">
                    <span class="hover-underline">
                      Read More <i class="icofont-arrow-right"></i>
                    </span>
          </a>
        </div>
      </div>
    </div>
  </div>

</div>
