<!-- when you want to show this component again remove the d-none class -->
<div class="container-fluid mx-auto pt-md-3 d-none"
     data-aos="fade-up"
     data-aos-duration="500"
     data-aos-easing="ease-in-out">
  <div class="row justify-content-center">
    <div class="col-xl-8 col-lg-9 col-md-10 col-12 text-center">
      <div class="card">
        <div class="heading0 mb-3 text-center">
          <h2>Reviews</h2>
        </div>

        <app-feedback></app-feedback>

        <br>
          <app-testimonials></app-testimonials>
        </div>
      </div>
    </div>
  </div>
