<section class="page-strip page-strip--light pb-0" id="shield">
  <div class="wrapper" data-aos="fade-up">
    <div class="section-header">
      <h2 class="section-title text-center">MOOVOBRAIN Display</h2>
    </div>
    <div class="fifty-fifty">
      <div class="fifty-fifty__child" data-aos="zoom-in" data-aos-delay="150" data-aos-duration="20">
        <div class="page-strip__visual-container">
          <img src="assets/img/tablet-app/1.png" alt="moovobrain tablet app"  class="page-strip__visual">
        </div>
      </div>
      <div class="fifty-fifty__child">
        <div class="page-strip__content">

          <h3 class="h3 page-strip__title">
            An interactive smart screen offers many features
          </h3>

          <ul>
            <li> Manual mode driving</li>
            <li> Microphone attached to a flexible arm</li>
            <li> Geolocation App</li>
            <li> A free SD Card 16Gb</li>
            <li> Wi-Fi connection</li>
          </ul>
          <br><br>


        </div>
      </div>
    </div>
  </div>
</section>






