body, h1, h2, h3, h4, h5, h6, html, li, p, ul {
  margin: 0;
  padding: 0
}

ul {
  list-style: none
}

button {
  margin: 0
}

*, html {
  box-sizing: border-box
}

*, :after, :before {
  box-sizing: inherit
}

img {
  height: auto;
  max-width: 100%
}

button {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  font: inherit;
  cursor: pointer;
  overflow: visible;
  border: none;
  border-radius: 0
}

button, button:active, button:focus, button:hover {
  text-decoration: none;
  border: none
}

button:active, button:focus {
  background-color: inherit;
  color: inherit
}

button::-moz-focus-inner {
  border: 0;
  padding: 0
}

:-moz-placeholder, :-ms-input-placeholder, ::-moz-placeholder, ::-webkit-input-placeholder {
  color: #d3d6d8;
  font-size: 12px
}

html {
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  width: 100vw;
  scroll-behavior: smooth
}

body {
  position: relative;
  height: 100%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  color: #161616;
  font-family: ff-basic-gothic-pro, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.64;
  background-color: #fff;
  font-size: 16px
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 15px
  }
}

@media only screen and (min-width: 1024px) {
  body {
    font-size: 16px
  }

  body:after {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(22, 22, 22, .05);
    transition: .2s ease-out;
    opacity: 0;
    visibility: hidden
  }
}

a {
  transition: color .2s ease-out;
  text-decoration: none
}

@font-face {
  font-family: icons;
  src: url(https://aylien.com/fonts/icons/icons.eot?0ab630e64e2d87bd3cc0f3cd5fda7b16?#iefix) format("embedded-opentype"), url(https://aylien.com/fonts/icons/icons.woff2?0ab630e64e2d87bd3cc0f3cd5fda7b16) format("woff2"), url(https://aylien.com/fonts/icons/icons.woff?0ab630e64e2d87bd3cc0f3cd5fda7b16) format("woff"), url(https://aylien.com/fonts/icons/icons.ttf?0ab630e64e2d87bd3cc0f3cd5fda7b16) format("truetype"), url(https://aylien.com/fonts/icons/icons.svg?0ab630e64e2d87bd3cc0f3cd5fda7b16#icons) format("svg")
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0;
  line-height: 1.15;
  font-family: ff-basic-gothic-pro, Arial, sans-serif;
  margin-bottom: 20px;
  color: #161616;
  letter-spacing: 0
}

.h1 {
  font-size: 32px
}

@media only screen and (min-width: 768px) {
  .h1 {
    font-size: 50px
  }
}

@media only screen and (min-width: 1024px) {
  .h1 {
    font-size: 52px
  }
}

.h2 {
  font-size: 30px
}

@media only screen and (min-width: 1024px) {
  .h2 {
    font-size: 46px
  }
}

.h3 {
  font-size: 28px
}

@media only screen and (min-width: 1024px) {
  .h3 {
    font-size: 32px
  }
}

.h4 {
  font-size: 20px
}

@media only screen and (min-width: 1024px) {
  .h4 {
    font-size: 24px
  }
}

.h5 {
  font-size: 18px
}

@media only screen and (min-width: 1024px) {
  .h5 {
    font-size: 20px
  }
}

.h6 {
  font-size: 16px
}

@media only screen and (min-width: 1024px) {
  .h6 {
    font-size: 18px
  }
}

.p, .ul {
  margin-bottom: 20px
}

.p {
  font-family: ff-basic-gothic-pro, Arial, sans-serif;
  line-height: 1.64
}

.fifty-fifty {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 0
}

@media only screen and (min-width: 768px) {
  .fifty-fifty {
    flex-direction: row;
    align-items: center;
    justify-content: center
  }
}

@media only screen and (min-width: 1024px) {
  .fifty-fifty {
    width: calc(100% + 40px);
    margin: 0 -20px
  }
}

.fifty-fifty__child {
  min-width: 0;
  width: 100%;
  margin: 0 0 10px 0;
  position: relative
}

@media only screen and (min-width: 768px) {
  .fifty-fifty__child {
    width: 50%
  }
}

@media only screen and (min-width: 1024px) {
  .fifty-fifty__child {
    margin: 20px
  }

  .fifty-fifty__child:last-of-type {
    margin: 20px
  }
}

.fifty-fifty__child ul:not(.list) {
  margin-bottom: 25px
}

@media only screen and (min-width: 1024px) {
  .fifty-fifty__child ul:not(.list) {
    margin-bottom: 42px
  }
}

.fifty-fifty__child ul:not(.list) li {
  position: relative;
  padding-left: 30px;
  line-height: 1.875;
  margin-bottom: 1px
}

@media only screen and (min-width: 1024px) {
  .fifty-fifty__child ul:not(.list) li {
    line-height: 1.64;
    margin-bottom: 6px
  }
}

.fifty-fifty__child ul:not(.list) li:before {
  position: absolute;
  display: block;
  content: '';
  top: 9px;
  left: 0;
  background: #8abe06;
  width: 8px;
  height: 8px
}

.page-strip {
  width: 100%;
  position: relative;
  padding: 40px 0;
  z-index: 0
}


.page-strip--primary {
  background-color: #45aed6
}

.page-strip--light {
  background: #fff
}

.page-strip__content ul:not(.list) {
  margin-bottom: 25px
}

@media only screen and (min-width: 1024px) {
  .page-strip__content ul:not(.list) {
    margin-bottom: 42px
  }
}

.page-strip__content ul:not(.list) li {
  position: relative;
  padding-left: 30px;
  line-height: 1.875;
  margin-bottom: 1px
}

@media only screen and (min-width: 1024px) {
  .page-strip__content ul:not(.list) li {
    line-height: 1.64;
    margin-bottom: 6px
  }
}

.page-strip__content ul:not(.list) li:before {
  position: absolute;
  display: block;
  content: '';
  top: 9px;
  left: 0;
  background: #45aed6;
  width: 8px;
  height: 8px
}

.page-strip__title {
  line-height: 1.21
}

@media only screen and (min-width: 1024px) {
  .page-strip__title {
    font-size: 38px
  }
}

.page-strip__text {
  max-width: 780px;
  margin: 0 auto 16px;
  line-height: 2
}

@media only screen and (min-width: 1024px) {
  .page-strip__text {
    margin: 0 auto 33px
  }
}

.page-strip__visual {
  width: 100%;
  height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
  font-family: "object-fit:cover";
  object-fit: cover
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1220px;
  padding: 0 15px
}

@media only screen and (min-width: 768px) {
  .wrapper {
    padding: 0 20px;
    overflow: visible
  }
}

@media only screen and (min-width: 1024px) {
  .wrapper {
    padding: 0 20px
  }
}

.wrapper--full-width {
  max-width: none;
  padding: 0
}

.list {
  display: flex;
  margin: 0 -15px -20px;
  flex-wrap: wrap
}

.list--full-mobile {
  width: calc(100% + 30px)
}

@media only screen and (min-width: 1024px) {
  .list--full-mobile {
    width: auto
  }
}

.list--column-mobile {
  flex-direction: column
}

@media only screen and (min-width: 768px) {
  .list--column-mobile {
    flex-direction: row
  }
}

.list__item {
  margin: 0 15px 20px
}

.button {
  position: relative;
  transition: background .2s ease-out, color .2s ease-out, border .2s ease-out;
  height: 54px;
  padding: 16px;
  border: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 227px;
  font-size: 18px;
  text-align: center;
  font-family: ff-basic-gothic-pro, Arial, sans-serif;
  overflow: hidden
}

.button:after {
  position: absolute;
  display: block;
  content: '';
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform .4s ease-out
}

.button:focus:after, .button:hover:after {
  transform: none
}

.button__text {
  position: relative;
  z-index: 5;
  font-weight: 400
}

.button--primary {
  background-color: #8abe06;
  color: #161616
}

.button--primary:after {
  background: #83b601
}

.button--light {
  background: #fff;
  color: #161616
}

.button--light:after {
  background: #f9fafa
}

.button--full-width {
  min-width: 100%
}

.button--full-width-mobile {
  min-width: 100%
}

@media only screen and (min-width: 768px) {
  .button--full-width-mobile {
    min-width: 227px
  }
}

@keyframes grayscalePulse {
  0% {
    filter: grayscale(100%)
  }
  2%, 25% {
    filter: grayscale(0)
  }
  100%, 28% {
    filter: grayscale(100%)
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0)
  }
  100% {
    transform: rotate(360deg)
  }
}

.strip {
  position: relative;
  display: flex;
  overflow: hidden;
  background: #fff;
  padding: 23px 20px;
  box-shadow: 0 2px 30px 5px #eceff1
}

.strip:after {
  position: absolute;
  display: block;
  content: '';
  left: 0;
  bottom: 0;
  height: 2px;
  z-index: 5;
  background: #54b7e6;
  width: 100%;
  transform: scaleX(0);
  transition: transform 1s;
  transform-origin: left;
  transition-delay: .6s
}

@media only screen and (min-width: 1024px) {
  .strip:after {
    transition-delay: 0s
  }
}

@media only screen and (min-width: 1024px) {
  .strip {
    align-items: center;
    padding: 20px;
    min-height: 92px
  }

  .strip:focus, .strip:hover {
    overflow: visible
  }

  .strip:focus:after, .strip:hover:after {
    transform: scaleX(1)
  }
}

.strip__text {
  color: #161616
}

.strip__text {
  font-size: 14px
}

:-moz-placeholder, :-ms-input-placeholder, ::-moz-placeholder, ::-webkit-input-placeholder {
  color: #d3d6d8;
  font-size: 12px
}


.section-header .section-title {
  font-size: 44px;
  color: #272727;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 20px;
  margin: 0 0 20px;
}

.section-header .section-title:before {
  content: "";
  position: absolute;
  width: 140px;
  bottom: 0;
  left: 50%;
  margin-left: -70px;
  height: 1px;
  background: #ebebeb;
}

.section-header .section-title:after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  bottom: -11px;
  left: 50%;
  margin-left: -12px;
  border: 5px solid #fff;
  border-radius: 20px;
  background: #45aed6;
}
