<section class="page-strip page-strip--light pb-0" id="shield">
  <div class="wrapper" data-aos="fade-up">
    <div class="section-header">
      <h2 class="section-title text-center">Tablet app</h2>
    </div>
    <div class="fifty-fifty">
      <div class="fifty-fifty__child" data-aos="zoom-in" data-aos-delay="150" data-aos-duration="20">
        <div class="page-strip__visual-container">
          <img src="assets/img/tablet-app/1.png" alt="moovobrain tablet app"  class="page-strip__visual">
        </div>
      </div>
      <div class="fifty-fifty__child">
        <div class="page-strip__content">

          <h3 class="h3 page-strip__title">
            Voice mode tablet app
          </h3>
          <p class="p page-strip__text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Aliquam cum deleniti dicta ducimus eligendi excepturi fuga
            fugiat harum in, ipsum iure laborum magni molestias natus
            nemo odio, provident quasi, quisquam quo sunt tempora
            tempore velit.
          </p>
          <ul>
            <li> Fournir une vision synthétique et enrichie d'un domaine d'activité</li>
            <li> Détection de Lead dans les sites spécialisés et les réseaux sociaux</li>
            <li> Quantifier les opinions/retours des utilisateurs sur marque/produits</li>
          </ul>
          <br><br>


        </div>
      </div>
    </div>
  </div>
</section>






