<div class="row justify-content-md-center">
  <div class="col-lg-6">
    <h3 class="section-title-center text-center pt-5">MOOVOBRAIN APP</h3>
    <p class="mt-2 text-center">A Realtime remote control and stakeout mean of wheelchair’s
      state and headset’s states</p>
  </div>
</div>

<section class="section-has-bg video-area">
  <div class="section-overlay content-bg"></div>
  <div class="section-has-bg-content container">
    <div class="flax-align row">

      <!-- video setion left text start -->
      <div class="col-md-6 center-align">
        <div class="wow fadeInUp video-text" data-wow-duration="1.2s" data-wow-delay="0.2s">
          <h3>Starta’s Demo Video</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus a aliquet to orci. Ut
            interdum mauris sem, non aliquet sit amet ipsum dolo.</p>
          <button class="text-video-btn">Play Video <span
            class="animated infinite icofont-arrow-right"></span></button>
        </div>
      </div>

      <!-- Video Start -->
      <div class="fix col-md-6">
        <div class="wow fadeInRight video-content" data-wow-duration="1.5s" data-wow-delay="0.5s">
          <div class="video-main">
            <div class="embed-responsive embed-responsive-4by3 video">
              <video id="video" class="video-js vjs-default-skin embed-responsive-item" controls
                     preload="none" poster="assets/img/tablet-app/tablet-screenshot.jpg" data-setup="{}">
                <source src="assets/img/tablet-app/tablet-demo.mp4" type="video/mp4">
                <!--Your Video Source here mp4-->
<!--                <source src="upload/about-us.ogv" type="video/ogg">-->
                <!--Your Video Source here ogg-->
              </video>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
