<main id="main">



  <!-- ======= About Section ======= -->
  <section class="about" data-aos="fade-up">
    <div class="container">

      <div class="row">
        <div class="col-lg-6">
          <img src="assets/img/about.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <h3>Change Your Life  </h3>
          <p class="font-italic">
            GEWINNER was founded on 2017 and was officially lunched on 2019 by four cofounders.
            Our startup makes a point of honor to carry out all its missions in the strict respect of certain values which
            represent the pillars of its activity: Innovation, Performance, Rigor and Customer Orientation.
          </p>
          <ul>
            <li><i class="icofont-check-circled"></i>	GEWINNER offers innovative and customized solutions in the healthcare industry. The challenge we face is simple “Change Your Life!”: continue to anticipate and meet the needs of disabled people and their entourage, in order to offer them the best services and the most competitive offers. </li>
            <li><i class="icofont-check-circled"></i> Our first product is MOOVOBRAIN, a steering system and remote control of an electric wheelchair for people who can’t use their upper members to pilot with the joystick. It is based on Brain/Machine interface and artificial intelligence. MOOVOBRAIN is a combination of several disciplines voice assistance, artificial intelligence and IOT.</li>
            <li><i class="icofont-check-circled"></i> We offer also wheelchair’s accessories that can facilitate the piloting and ensure user’s safety.  Some other before and after sales services can be requested.</li>
          </ul>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->

  <!-- ======= Facts Section ======= -->
  <section class="facts section-bg" data-aos="fade-up">
    <div class="container">

      <div class="row counters">

        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">30</span>
          <p>Happy Clients</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">07</span>
          <p>Countries</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">11</span>
          <p>Hard workers</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">13</span>
          <p>Awards</p>
        </div>

      </div>

    </div>
  </section><!-- End Facts Section -->



  <!-- ======= Tetstimonials Section ======= -->
  <section class="testimonials" data-aos="fade-up">
    <div class="container">

      <div class="section-title">
        <h2>Tetstimonials</h2>
        <p>There is only ONE WAY to LOOK at things until SOMEONE shows us HOW to look at them with DIFFERENT EYES.</p>
      </div>

      <div class="owl-carousel testimonials-carousel">

        <div class="testimonial-item" *ngFor="let testimonial of testimonials">
          <img src="{{testimonial.imageURL}}" class="testimonial-img" alt="">
          <h3>{{testimonial.name}}</h3>
          <h4>{{testimonial.job}}</h4>
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            {{testimonial.quote}}
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
        </div>

      </div>

    </div>
  </section><!-- End Testimonials Section -->

</main><!-- End #main -->
