<main id="main">


  <!-- ======= About Section ======= -->
  <section class="about" data-aos="fade-up" style="padding-bottom:30px ">
    <div class="container">

      <div class="section-title">
        <h2>About GEWINNER</h2>
        <!--        <p>There is only ONE WAY to LOOK at things until SOMEONE shows us HOW to look at them with DIFFERENT EYES.</p>-->
      </div>

      <div class="row">


        <!--        <div class="col-lg-6">-->
        <!--          <img src="assets/img/about.jpg" class="img-fluid" alt="">-->
        <!--        </div>-->
        <div class="col-lg-12 pt-4 pt-lg-0">
          <p class="font-italic">
            GEWINNER was founded in 2017 and officially launched in 2019.
          </p>
          <ul>
            <li><i class="icofont-check-circled"></i> GEWINNER offers innovative and customized solutions in the
              healthcare industry
            </li>
            <li><i class="icofont-check-circled"></i> Our goal is to use advanced technologies such as deep learning,
              voice recognition, Brain/Machine interface to help people in need
            </li>
            <li><i class="icofont-check-circled"></i> The challenge we face is simple “Change Your Life!”</li>
          </ul>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->


  <app-team></app-team>


  <!-- ======= Facts Section ======= -->
  <!--
      this section is disabled for the moment.
      if you want to show it back just remove the "d-none" class
   -->
  <section class="facts section-bg d-none" data-aos="fade-up">
    <div class="container">

      <div class="row counters">

        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">30</span>
          <p>Happy Clients</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">07</span>
          <p>Countries</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">11</span>
          <p>Hard workers</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">13</span>
          <p>Awards</p>
        </div>

      </div>

    </div>
  </section><!-- End Facts Section -->


  <!-- ======= Tetstimonials Section ======= -->
  <!--
      this section is disabled for the moment.
      if you want to show it back just remove the "d-none" class
   -->
  <section class="testimonials d-none" data-aos="fade-up">
    <div class="container">

      <div class="section-title">
        <h2>Tetstimonials</h2>
        <p>There is only ONE WAY to LOOK at things until SOMEONE shows us HOW to look at them with DIFFERENT EYES.</p>
      </div>

      <div class="owl-carousel testimonials-carousel">

        <div class="testimonial-item" *ngFor="let testimonial of testimonials">
          <img src="{{testimonial.imageURL}}" class="testimonial-img" alt="">
          <h3>{{testimonial.name}}</h3>
          <h4>{{testimonial.job}}</h4>
          <p>
            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
            {{testimonial.quote}}
            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
          </p>
        </div>

      </div>

    </div>
  </section><!-- End Testimonials Section -->

</main><!-- End #main -->
