<section>
  <div class="pt-md-5">
  <div class="pt-md-5 text-center">
    <h3 class="text-dark">Password reset</h3>
    <p>
      Your new password is : <strong *ngIf="!isLoading && !isError">{{password}}</strong>
      <app-loader *ngIf="isLoading && !isError" radius="15" addSpace="true"></app-loader>
      <span>
      <i class="icofont-error text-danger" *ngIf="isError"></i>
      <i class="icofont-error text-danger" *ngIf="isError"></i>
      <i class="icofont-error text-danger" *ngIf="isError"></i>
      <i class="icofont-error text-danger" *ngIf="isError"></i>
      <i class="icofont-error text-danger" *ngIf="isError"></i>
      <i class="icofont-error text-danger" *ngIf="isError"></i>
      </span>
      <br>
      you still can change is anytime from your account settings
    </p>
  </div>
  </div>
</section>
