<div class="blog-sidebar pl-xl-4">

  <div style="margin-top: 0px;">
    <h3 class="quotes-title">Quotes</h3>
    <div class="blog_list_item qutoe_post" style="height:100px">
      <div class="quote-block">
        <div class="quote-content">
          <i class="icofont-quote-left"
             style=" font-size: 10px; color: #5e2ced;padding-bottom: 15px; display: inline-block;">
            <h6 class="quote-text">
              {{quote.text}}
            </h6>
            <span class="author-name">{{quote.author}}</span>
          </i>
        </div>
      </div>
    </div>
  </div>


  <div style="margin-top: 15px;" *ngIf="events.length>0">
    <h3 class="quotes-title">Coming events <i class="icofont-megaphone-alt"></i></h3>

    <div class="future-events-item" *ngFor="let event of events">
      <div class="media-body">
        <a>
          <h3 class="future-event-title">{{event.title}}</h3>
        </a>
        <a class="future-event-date">
<!--          Sunday, December 22, 2020, 7:13 PM-->
          {{event.start | date:'fullDate'}}
        </a>
      </div>
    </div>


  </div>
</div>
