<div class="container" id="review-testimonials">
  <div class="owl-carousel reviews-carousel ">
    <div *ngFor="let review of reviews" class="testimonial-item">
      <div class="review-head">
        <h3 class="review-heading">moovobrain made me more</h3>
      </div>
      <div class="review-body">
        <p class="review-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus dicta esse eum
          expedita fuga natus porro sit vel vero vitae. Facilis minus molestias mollitia tempore temporibus vero!</p>
          <i class="icofont-star star-active"></i>
          <i class="icofont-star star-active"></i>
          <i class="icofont-star star-active"></i>
          <i class="icofont-star star-active"></i>
          <i class="icofont-star star-muted"></i>
        <h5 class="author">Ahmed, Tunisia</h5>
        <p class="review-date">March 24, 2020</p>
      </div>
    </div>
  </div>
</div>
