<div class="container" id="review-testimonials">
  <div class="owl-carousel reviews-carousel ">
    <div *ngFor="let testimonial of testimonials" class="testimonial-item">
      <div class="review-head">
        <h3 class="review-heading">{{testimonial.title}}</h3>
      </div>
      <div class="review-body">
        <p class="review-desc">{{testimonial.description}}</p>
          <i class="icofont-star star-active" *ngFor="let x of [].constructor(testimonial.rating)"></i>
          <i class="icofont-star star-muted" *ngFor="let x of [].constructor(5-testimonial.rating)"></i>
        <h5 class="author">{{testimonial.name}}, {{testimonial.country}}</h5>
        <p class="review-date">{{testimonial.date | date:'longDate'}}</p>
      </div>
    </div>
  </div>
</div>
