<section class="services justify-cntent-center align-items-center">
  <div class="container-xl">

    <div class="row accessories-slick-items">


      <div class="col-md-6 col-lg-3 d-flex align-items-stretch slide" data-aos="fade-up" data-aos-delay="0">
        <div class="icon-box icon-box-pink">
          <div class="accessories-item icon">
            <img src="assets/img/accessories/icons/wheelchair-camera.jpg" alt="image missing...">
          </div>
          <h4 class="title"><a href="">Camera</a></h4>
          <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
            occaecati cupiditate non provident</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch slide" data-aos="fade-up" data-aos-delay="100">
        <div class="icon-box icon-box-cyan">
          <div class="accessories-item icon">
            <img src="assets/img/accessories/icons/adjustable-table.jpg" alt="image missing...">
          </div>
          <h4 class="title"><a href="">Adjustable table</a></h4>
          <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat nulla pariatur</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch slide" data-aos="fade-up" data-aos-delay="200">
        <div class="icon-box icon-box-green">
          <div class="accessories-item icon">
            <img src="assets/img/accessories/icons/rear-view-mirror.jpg" alt="image missing...">
          </div>
          <h4 class="title"><a href="">Rear-view mirror</a></h4>
          <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
            mollit anim id est laborum</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch slide" data-aos="fade-up" data-aos-delay="300">
        <div class="icon-box icon-box-blue">
          <div class="accessories-item icon">
            <img src="assets/img/accessories/icons/wheelchair-security-belt.jpg" alt="image missing...">
          </div>
          <h4 class="title"><a href="">Security belt</a></h4>
          <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
            voluptatum deleniti atque</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch slide" data-aos="fade-up" data-aos-delay="50">
        <div class="icon-box icon-box-pink">
          <div class="accessories-item icon">
            <img src="assets/img/accessories/icons/headrest.jpg" alt="image missing...">
          </div>
          <h4 class="title"><a href="">Headrest neck support</a></h4>
          <p class="description">Odio ducimus qui blanditiis praesentium, in culpa qui officia deserunt
            occaecat cupidatat non proident dromo</p>
        </div>
      </div>

    </div>
  </div>
</section>
