<section class="services justify-cntent-center align-items-center pt-0">
  <div class="container-xl">

    <div class="section-header">
      <h2 class="section-title text-center">Accessories</h2>
      <p class="text-center">
        The perfect combination of exclusive functionality and elegant design
      </p>
    </div>

    <div class="row accessories-slick-items">


      <div *ngFor="let accessorie of accessories ; index as i"
           class="col-md-6 col-lg-3 d-flex align-items-stretch slide"
           data-aos="flip-right" data-aos-delay="100" data-aos-duration="1000">
          <div class="icon-box icon-box-cyan" [routerLink]="['/accessorie/'+accessorie.id]">
            <div class="accessories-item icon">
              <img src="{{url+accessorie.imageURL[0]}}" alt="image missing...">
            </div>
            <h4 class="title">{{accessorie.name}}</h4>
            <p class="description text-secondary">
              {{accessorie.description | slice:0:90}}
              <span *ngIf="accessorie.description.length > 90">...</span>
            </p>
          </div>
      </div>


    </div>
  </div>
</section>
