<div class="row">
  <div class="col-sm-12">


    <h3 class="form-title">
      <img alt="image missing..." class="login-illustration" src="assets/img/illustrations/form/login3.svg">
      Sign in
    </h3>
    <form (ngSubmit)="onSubmit()" [formGroup]="form" class="join-us-form" method="post">

      <div class="form-row">
        <div class="col-md-6 form-group">
          <input autocomplete="off"
                 class="form-control"
                 formControlName="email"
                 id="email" name="email"
                 placeholder="Your E-mail"
                 type="email"
                 tabindex="1"
                appFocusElement/>

          <small *ngIf="form.get('email').invalid && form.get('email').touched" class="form-text text-danger">
            <i class="icofont-warning-alt"></i>
            Please enter a valid email
          </small>

        </div>

        <div class="col-md-6 form-group">
          <input class="form-control"
                 formControlName="password"
                 id="password"
                 name="password"
                 placeholder="Your Password"
                 type="password"
                 tabindex="2"/>

          <small *ngIf="form.get('password').invalid && form.get('password').touched" class="form-text text-danger d-inline">
            <i class="icofont-warning-alt"></i>
            Password must have 8 characters at least.
          </small>

          <small class="d-inline"><a [routerLink]="'password-forgotten'">Forgot password ?</a></small>

        </div>
      </div>


      <div class="text-center">
        <button [disabled]="form.invalid" type="submit" tabindex="3"><i class="icofont-login"></i> Sign in</button>
      </div>

    </form>
    <hr>

    <h6 class="text-secondary text-center"><B>not a member? </B><a [routerLink]="'/sign-in/register'">create an
      account</a> or use social login</h6>
    <div class="login-socials">
      <a href="#"><i class="icofont-twitter"></i></a>
      <a href="#"><i class="icofont-facebook"></i></a>
      <a href="#"><i class="icofont-google-plus" style="margin-right: 0 !important"></i></a>
    </div>


  </div>
</div>
