<div class="row">
  <div class="col-sm-12">


    <h3 class="form-title">
      <img alt="image missing..." class="login-illustration" src="assets/img/illustrations/form/login3.svg">
      Sign in
    </h3>


    <div class="alert alert-danger alert-dismissible fade show" *ngIf="isError">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Error!</strong> please verify email and password.
    </div>
    <form (ngSubmit)="onSubmit()" [formGroup]="form" class="join-us-form" method="post">

      <div class="form-row">
        <div class="col-md-6 form-group">
          <input autocomplete="off"
                 class="form-control"
                 formControlName="email"
                 id="email" name="email"
                 placeholder="Your E-mail"
                 type="email"
                 tabindex="1"
                  [class.red-border]="isError"
          />

          <small *ngIf="form.get('email').invalid && form.get('email').touched" class="form-text text-danger">
            <i class="icofont-warning-alt"></i>
            Please enter a valid email
          </small>

        </div>

        <div class="col-md-6 form-group">
          <input class="form-control"
                 formControlName="password"
                 id="password"
                 name="password"
                 placeholder="Your Password"
                 type="password"
                 tabindex="2"
                 [class.red-border]="isError"
                  (focus)="isError2=false"
          />

          <small *ngIf="form.get('password').invalid && form.get('password').touched && !isError2" class="form-text text-danger d-inline">
            <i class="icofont-warning-alt"></i>
            Password must have 8 characters at least.
          </small>

          <small class="d-inline"><a [routerLink]="'password-forgotten'">Forgot password ?</a></small>

        </div>
      </div>


      <div class="text-center">
        <button [disabled]="form.invalid" type="submit" tabindex="3"> <app-loader radius="20" *ngIf="isLoading"></app-loader><i class="icofont-login" *ngIf="!isLoading"></i> Sign in</button>
      </div>

    </form>
    <hr>

    <h6 class="text-secondary text-center"><B>not a member? </B><a [routerLink]="'/sign-in/register'">create an
      account</a></h6>

<!--  Do not delete the code below , you might need it for other projects  -->

<!--    <div class="login-socials" title="Social login does not work on local server!">-->
<!--      <a><i class="icofont-twitter"></i></a>-->
<!--      <a><i class="icofont-facebook"></i></a>-->
<!--      <a><i class="icofont-google-plus" style="margin-right: 0 !important"></i></a>-->
<!--    </div>-->


  </div>
</div>
