<!-- use nodejs to change og metadata dynamically so facebook/linked-in/twitter sharer &  works correctly -->

<div id="article">
  <img alt="image missing..." class="img-fluid max-height" src="assets/img/news/articles/e-health-price.jpg">
  <div class="article-content">

    <div class="article-date social">
      <h2>18<span> Oct</span></h2>
    </div>

    <div class="socials-lg">
      <div class="facebook-share social">
        <a (click)="onShare()">
          <i class="bx bxl-facebook"></i>
        </a>
      </div>

      <div class="linkedin-share social">
        <a (click)="onShare()">
          <i class="bx bxl-linkedin"></i>
        </a>
      </div>

      <div class="twitter-share social">
        <a (click)="onShare()">
          <i class="bx bxl-twitter"></i>
        </a>
      </div>
    </div>


    <div class="socials-sm">
      <ul class="clr">

        <li class="share-button" (click)="onShare()">
          <a role="button" class="facebook-button">
            <i class="bx bxl-facebook"></i>
            <span class="wpex-label">Share</span>
          </a>
        </li>

        <li class="share-button" (click)="onShare()">
          <a role="button" class="twitter-button">
            <span aria-hidden="true" class="bx bxl-twitter"></span>
            <span class="wpex-label">Tweet</span>
          </a>
        </li>


        <li class="share-button" (click)="onShare()">
          <a role="button" class="linkedin-button">
            <span aria-hidden="true" class="bx bxl-linkedin"></span>
            <span class="wpex-label">Share</span>
          </a>
        </li>

      </ul>
    </div>


    <div class="article-author">
      By: Khawla Ben Ahmed <span class="article-date-sm"> | Date: 18 October </span>
    </div>

    <h5 class="article-title">
      We Are The Future
    </h5>
    <blockquote class="block-quote">
      <h6 class="quote-text" style="color: #263b5e;">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At perspiciatis provident sequi.
      </h6>
    </blockquote>

    <div>
      <article class="article-container">
        <p class="article-paragraph">
          Dignissimos dolore et illo, illum impedit laborum nemo nobis obcaecati odio officiis omnis perspiciatis porro
          quaerat quia quibusdam quisquam repudiandae rerum sed sint temporibus ullam ut. Alias assumenda at autem
          consequatur, debitis deserunt distinctio dolorem ducimus eaque eius eligendi enim est eum eveniet, expedita
          facilis harum ipsa iusto laudantium maxime necessitatibus nemo nihil nobis numquam officiis optio quae qui
          quidem ratione rem repellendus sit vitae voluptates. Accusamus ad consequatur.
        </p>
      </article>
    </div>
  </div>
</div>















<!--&lt;!&ndash; use nodejs to change og metadata dynamically so facebook/linked-in/twitter sharer &  works correctly &ndash;&gt;-->

<!--<div id="article">-->
<!--  <img alt="image missing..." class="img-fluid max-height" src="assets/img/news/articles/e-health-price.jpg">-->
<!--  <div class="article-content">-->

<!--    &lt;!&ndash;    <div class="article-date socials">&ndash;&gt;-->
<!--    &lt;!&ndash;      <h2>18<span> Oct</span></h2>&ndash;&gt;-->
<!--    &lt;!&ndash;    </div>&ndash;&gt;-->

<!--    <div class="facebook-share social">-->
<!--      <a (click)="onShare()">-->
<!--        <i class="bx bxl-facebook" ></i>-->
<!--      </a>-->
<!--    </div>-->

<!--    <div class="linkedin-share social">-->
<!--      <a (click)="onShare()">-->
<!--        <i class="bx bxl-linkedin" ></i>-->
<!--      </a>-->
<!--    </div>-->

<!--    <div class="twitter-share social">-->
<!--      <a (click)="onShare()">-->
<!--        <i class="bx bxl-twitter"></i>-->
<!--      </a>-->
<!--    </div>-->


<!--    <div class="article-author">-->
<!--      By: Khawla Ben Ahmed | Date: 18 October-->
<!--    </div>-->

<!--    <h5 class="article-title">-->
<!--      We Are The Future-->
<!--    </h5>-->
<!--    <blockquote class="block-quote">-->
<!--      <h6 class="quote-text" style="color: #263b5e;">-->
<!--        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At perspiciatis provident sequi.-->
<!--      </h6>-->
<!--    </blockquote>-->

<!--    <div>-->
<!--      <article class="article-container">-->
<!--        <p class="article-paragraph">-->
<!--          Dignissimos dolore et illo, illum impedit laborum nemo nobis obcaecati odio officiis omnis perspiciatis porro quaerat quia quibusdam quisquam repudiandae rerum sed sint temporibus ullam ut. Alias assumenda at autem consequatur, debitis deserunt distinctio dolorem ducimus eaque eius eligendi enim est eum eveniet, expedita facilis harum ipsa iusto laudantium maxime necessitatibus nemo nihil nobis numquam officiis optio quae qui quidem ratione rem repellendus sit vitae voluptates. Accusamus ad consequatur.-->
<!--        </p>-->
<!--      </article>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
