<!-- use nodejs to change og metadata dynamically so facebook/linked-in/twitter sharer works correctly -->
<!-- check with others if AOS effect looks cool -->

<div id="article" *ngIf="article">
    <img alt="image missing..." class="img-fluid max-height" src="{{url+article.imageURL}}">
  <div class="article-content">

    <div class="article-date social">
      <h2>{{article.createdAt | date:'dd'}}<span>&nbsp;{{article.createdAt | date:'MMM'}}</span></h2>
    </div>

    <div class="socials-lg">
      <div class="facebook-share social">
        <a shareButton="facebook">
          <i class="bx bxl-facebook"></i>
        </a>
      </div>

      <div class="linkedin-share social">
        <a shareButton="linkedin">
          <i class="bx bxl-linkedin"></i>
        </a>
      </div>


      <div class="twitter-share social">
        <a shareButton="twitter">
          <i class="bx bxl-twitter"></i>
        </a>
      </div>
    </div>


    <div class="socials-sm">
      <ul class="clr">

        <li class="share-button" mat-fab shareButton="facebook"
            #fbBtn="shareButton">
          <a role="button" class="facebook-button">
            <i class="bx bxl-facebook"></i>
            <span class="wpex-label">Share</span>
          </a>
        </li>

        <li class="share-button" mat-fab shareButton="twitter"
            #fbBtn="shareButton">
          <a role="button" class="twitter-button">
            <span aria-hidden="true" class="bx bxl-twitter"></span>
            <span class="wpex-label">Tweet</span>
          </a>
        </li>


        <li class="share-button" mat-fab shareButton="linkedin"
            #fbBtn="shareButton">
          <a role="button" class="linkedin-button">
            <span aria-hidden="true" class="bx bxl-linkedin"></span>
            <span class="wpex-label">Share</span>
          </a>
        </li>

      </ul>
    </div>

      <div class="article-author">
        <i class="icofont-quill-pen" style="color: #677294;"></i> {{article.author}}  <span class="article-date-sm"> | <i class="icofont-clock-time"></i> {{article.createdAt | date:'dd MMM'}} </span>
      </div>





    <h5 class="article-title">
      {{article.title}}
    </h5>
    <blockquote class="block-quote pre-wrap" *ngIf="article.about &&article.about.length > 1">
      <h6 class="quote-text" style="color: #263b5e;">
        {{article.about}}
      </h6>
    </blockquote>

    <div>
      <article class="article-container">
        <p class="article-paragraph pre-wrap">
          {{article.description}}
        </p>
      </article>
    </div>
  </div>
</div>
