#article{
  padding-top: -30px !important;
  padding-bottom: 60px;
}
.max-height {
  max-height: 510px;
  width: 100% !important;
  object-fit: cover;
  border-radius: 6px;
}
.article-content {
  text-align: left;
  font: 300 15px/28px "Poppins", sans-serif;
  letter-spacing: 0px;
  color: #677294;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  box-sizing: border-box;
  background-color: white;
  position: relative;
  box-shadow: none;
  padding: 25px 0px 0px;
}

.circle-under-img {
  box-sizing: border-box;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 0 3px 0 0 rgba(12, 0, 46, 0.06);
  text-align: center;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: absolute;
  -webkit-box-pack: center;
  justify-content: center;
  top: -40px;
  background: #fff;
}

.facebook-share {
  right: 150px;
}

.article-date {
  letter-spacing: 0;
  color: #677294;
  right: 50px;
}

.article-date h2{
  text-align: center;
  box-sizing: border-box;
  margin-top: 0;
  font: 700 30px/20px "Poppins", sans-serif;
  margin-bottom:0;
  color: #2c2c51;
  padding-top: 5px;
}

.article-date h2 span{
  font-weight: 300;
  font-size: 14px;
  display: block;
  padding-top: 5px;
}



.article-author {
  font: 400 15px/25px "Poppins", sans-serif;
  color: #677294 ;
  padding-bottom: 5px;
}

.article-title {
  text-align: left;
  box-sizing: border-box;
  margin-top: 0;
  line-height: 1.2;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #051441;
  margin-bottom: 30px;
}

.block-quote {
  text-align: left;
  font: 300 15px/28px "Poppins", sans-serif;
  letter-spacing: 0px;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  box-sizing: border-box;
  font-size: 1.25rem;
  margin: 0 0 40px;
  color: #273B86;
  font-style: italic;
  border-left: 4px solid #273B86;
  padding-left: 35px;
}

.quote-text {
  font: 300 15px/28px "Poppins", sans-serif;
  letter-spacing: 0px;
  font-style: italic;
  margin-top: 0;
  margin-bottom: 0!important;
  font-size: 18px;
  line-height: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #263b5e;
}

.article-container {
  font: 300 15px/28px "Poppins", sans-serif;
  letter-spacing: 0px;
  color: #677294;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  box-sizing: border-box;
  display: block;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: -30px;
}

.article-paragraph {
  font: 300 15px/28px "Poppins", sans-serif;
  letter-spacing: 0px;
  text-indent: 50px;
  box-sizing: border-box;
  color: #677294;
  line-height: 30px;
  font-family: "Poppins", sans-serif;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 15px;
}
