.form-title {
  font-size: 30px;
  line-height: 55px;
  font-weight: 600;
  color: #2c2c51;
  margin-bottom: 40px;
  text-align: center;
}

.password-forgotten-illustration {
  max-width: 30px;
}

input {
  padding: 20px 15px;
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

input:focus {
  box-shadow: none !important;
  outline-color: transparent !important;
}

button[type="submit"] {
  background: #051441;
  border: 0;
  border-radius: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  width: 100%;
}

button:disabled {
  cursor: not-allowed;
  background: rgba(5, 20, 65, 0.86) !important;
}


.login-socials {
  text-align: center;
}

a {
  cursor: pointer;
  color: #68a4c4;
}


.custom-send-icon {
  font-size: 30px;
  transform: translate(-114%, -5%);
  position: absolute;
}



input.ng-invalid.ng-touched {
  border:1px solid #FF9494;
  outline-color: #FF9494 !important;
}
