p {
  color: #4c5258 !important;
  line-height: 24px !important;
  margin: 0 0 10px !important;
  font-size: 14px !important;
}


i{
  display: inline-block;
  font-size: 30px !important;
  text-rendering: auto;
  transition: 0.3s;
  /*color: #4fa6d5 !important;*/
  /*color: #001665e0;*/
  color: #000b33e0;
  -webkit-font-smoothing: antialiased;

}
.nav-item:hover i{
  font-size: 36px !important;
}

h5{
  font-size: 18px !important;
  font-weight: 600;
  margin-bottom: 15px;
  text-transform: capitalize
}

h3{
  font-size: 44px ;
}


h3, h5
{
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  color: #272727;
}

.overflow{
  overflow: hidden;
}

.image-frame {
  position: relative;
  text-align: center;
  padding: 0 20px;
  height: 604px;
  width: 290px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 96%;
  background-image: url(src/assets/img/mobile-app/frame2.png);
  top: 50%;
  transform: translate(0, -50%);

}



.tab-content.scren-image {
  position: absolute;
  left: 50%;
  top: 49.5%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 252px
}

.tab-content.scren-image .tab-pane.show {
  display: block
}

.tab-content.scren-image .tab-pane img {
  max-width: 100%
}

.no-padding {
  padding: 0 !important
}

.nav-tabs.feature-tabs {
  border-bottom: 0
}

@media (min-width: 992px) {
  .nav-tabs.feature-tabs {
    margin-top: 25px
  }
}

.nav-tabs.feature-tabs .nav-item {
  width: fit-content;
  margin: auto;
}

.nav-tabs.feature-tabs .nav-item .nav-link {
  background-color: transparent;
  border: 0;
  padding: 0;
  margin: 0;
}

.nav-tabs.feature-tabs .nav-item .nav-link.active {
  border-top-color: transparent
}


.media-style-01 {
  transition: 0.3s;
  padding: 15px 0
}

@media (min-width: 768px) {
  .media-style-01 {
    padding: 20px 0
  }
}

@media (min-width: 992px) {
  .media-style-01 {
    padding: 30px 0
  }
}





.media-style-02 .media-body h5 {
  font-size: 16px;
  font-weight: 500
}

@media (min-width: 768px) {
  .media-style-02 .icon-style-3.custom-ml {
    margin-left: 20px
  }
}

@media (min-width: 768px) {
  .media-style-02 .icon-style-3.custom-mr {
    margin-right: 20px
  }
}


.icon-style-1 {
  position: relative;
  width: 72px;
  height: 72px;
  line-height: 68px;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #f3f3f3;
  transition: 0.3s;
  margin-right: 20px
}

@media (min-width: 768px) {
  .icon-style-1 {
    margin: auto
  }
}

@media (min-width: 768px) {
  .icon-style-1.custom-mr {
    margin-right: 20px
  }
}

@media (min-width: 768px) {
  .icon-style-1.custom-ml {
    margin-left: 20px
  }
}

.icon-style-1 .icon {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  position: relative
}

.download-app {
  text-align: center;
}
.download-app img{
  width: 170px;
  height: 58px;
}


@media (max-width: 339px) {
  .margin-custom {
    margin-top:1rem;
  }
}
