<!-- ====================================
	———	FEATURES
	===================================== -->
<section class="section-padding" id="feature">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-lg-6">
        <h3 class="section-title-center text-center pt-0 pt-md-5">Product Features</h3>
        <p class="mt-2 text-center">Sint nulla facilisi auctor diam ducimus, at irure! aliquip anim tempus laudantium odit hymenaeos.</p>
      </div>
    </div>
    <div class="row mt-70">
      <div class="col-md-6 col-lg-4 wow tafFadeInLeft" data-wow-offset="100">
        <ul class="nav nav-tabs feature-tabs">
          <li class="nav-item">
            <a href="#vtab1" class="nav-link " data-toggle="tab" aria-expanded="true">
              <div class="media media-style-01 " >
                <div class="icon-style-1 order-md-1 custom-ml">
                  <div class="icon">
                    <i class="icon_pencil" aria-hidden="true"></i>
                  </div>
                </div>
                <div class="media-body text-md-right">
                  <h5 class="mt-0">Manage Complex Work</h5>
                  <p>Aut augue imperdiet pharetra lectus egestas perferendis aliquid nunc.</p>
                </div>
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a href="#vtab2" class="nav-link" data-toggle="tab" aria-expanded="false">
              <div class="media media-style-01" >
                <div class="icon-style-1 order-md-1 custom-ml">
                  <div class="icon">
                    <i class="icon_lightbulb_alt" aria-hidden="true"></i>
                  </div>
                </div>
                <div class="media-body text-md-right">
                  <h5 class="mt-0">Creative Desing</h5>
                  <p>Aut augue imperdiet pharetra lectus egestas perferendis aliquid nunc.</p>
                </div>
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a href="#vtab3" class="nav-link" data-toggle="tab">
              <div class="media media-style-01">
                <div class="icon-style-1 order-md-1 custom-ml">
                  <div class="icon">
                    <i class="icon_lock_alt" aria-hidden="true"></i>
                  </div>
                </div>
                <div class="media-body text-md-right">
                  <h5 class="mt-0">Secure Your Data</h5>
                  <p>Aut augue imperdiet pharetra lectus egestas perferendis aliquid nunc.</p>
                </div>
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a href="#vtab4" class="nav-link" data-toggle="tab">
              <div class="media media-style-01">
                <div class="icon-style-1 order-md-1 custom-ml">
                  <div class="icon">
                    <i class="icon_toolbox_alt" aria-hidden="true"></i>
                  </div>
                </div>
                <div class="media-body text-md-right">
                  <h5 class="mt-0"> unlimited feature</h5>
                  <p>Aut augue imperdiet pharetra lectus egestas perferendis aliquid nunc.</p>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>

      <div class="col-lg-4 d-none d-lg-block overflow">
        <div class="image-frame" style="background-image: url(assets/img/mobile-app/frame2.png)">
          <div class="tab-content scren-image">
            <div class="tab-pane no-padding" id="vtab1" aria-expanded="true">
              <img src="assets/img/mobile-app/screen-1.jpg" alt="Image missing..." class="fade tab-content show">
            </div>
            <div class="tab-pane no-padding" id="vtab2" aria-expanded="true">
              <img src="assets/img/mobile-app/screen-2.jpg" alt="Image missing..." class="fade tab-content show">
            </div>
            <div class="tab-pane no-padding" id="vtab3" aria-expanded="true">
              <img src="assets/img/mobile-app/screen-3.jpg" alt="Image missing..." class="fade tab-content show">
            </div>
            <div class="tab-pane no-padding" id="vtab4" aria-expanded="true">
              <img src="assets/img/mobile-app/screen-4.jpg" alt="Image missing..." class="fade tab-content show">
            </div>
            <div class="tab-pane  no-padding" id="vtab5" aria-expanded="true">
              <img src="assets/img/mobile-app/screen-1.jpg" alt="Image missing..." class="fade tab-content show">
            </div>
            <div class="tab-pane no-padding" id="vtab6" aria-expanded="true">
              <img src="assets/img/mobile-app/screen-2.jpg" alt="Image missing..." class="fade tab-content show">
            </div>
            <div class="tab-pane no-padding" id="vtab7" aria-expanded="true">
              <img src="assets/img/mobile-app/screen-3.jpg" alt="Image missing..." class="fade tab-content show">
            </div>
            <div class="tab-pane no-padding" id="vtab8" aria-expanded="true">
              <img src="assets/img/mobile-app/screen-1.jpg" alt="Image missing..." class="fade tab-content show">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4" data-wow-offset="100" >
        <ul class="nav nav-tabs feature-tabs">
          <li class="nav-item">
            <a href="#vtab5" class="nav-link" data-toggle="tab" aria-expanded="true">
              <div class="media media-style-01 ">
                <div class="icon-style-1 custom-mr">
                  <div class="icon">
                    <i class="icon_genius" aria-hidden="true"></i>
                  </div>
                </div>
                <div class="media-body">
                  <h5 class="mt-0">Tight Construction</h5>
                  <p>Aut augue imperdiet pharetra lectus egestas perferendis aliquid nunc.</p>
                </div>
              </div>
            </a>
          </li>
          <li class="nav-item" >
            <a href="#vtab6" class="nav-link" data-toggle="tab" aria-expanded="false">
              <div class="media media-style-01">
                <div class="icon-style-1 custom-mr">
                  <div class="icon">
                    <i class="icon_flowchart" aria-hidden="true"></i>
                  </div>
                </div>
                <div class="media-body">
                  <h5 class="mt-0">Flowcharts </h5>
                  <p>Aut augue imperdiet pharetra lectus egestas perferendis aliquid nunc.</p>
                </div>
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a href="#vtab7" class="nav-link" data-toggle="tab">
              <div class="media media-style-01" >
                <div class="icon-style-1 custom-mr">
                  <div class="icon">
                    <i class="icon_cloud-upload_alt" aria-hidden="true"></i>
                  </div>
                </div>
                <div class="media-body">
                  <h5 class="mt-0">Track Anything</h5>
                  <p>Aut augue imperdiet pharetra lectus egestas perferendis aliquid nunc.</p>
                </div>
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a href="#vtab8" class="nav-link" data-toggle="tab">
              <div class="media media-style-01 " >
                <div class="icon-style-1 custom-mr">
                  <div class="icon">
                    <i class="icon_pencil-edit" aria-hidden="true"></i>
                  </div>
                </div>
                <div class="media-body">
                  <h5 class="mt-0">Amazingly Easy to Fly</h5>
                  <p>Aut augue imperdiet pharetra lectus egestas perferendis aliquid nunc.</p>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
