<div class="container" class="overflow-hidden">
  <div class="row justify-content-md-center">
    <div class="col-lg-6">
      <h3 class="section-title-center text-center pt-5">MOOVOBRAIN APP</h3>
      <p class="mt-2 text-center">A Realtime remote control and stakeout mean of wheelchair’s
        state and headset’s states</p>
    </div>
  </div>
  <div class="container-lg">
    <div class="row mt-70">


      <div class="col-lg-4 order-xl-1 order-2 col-md-6"
           data-aos="fade-right"
           data-aos-duration="500"
           data-aos-easing="ease-in-out"
           data-aos-delay="300">

        <ul class="nav nav-tabs feature-tabs">
          <li class="nav-item">
            <a aria-expanded="true" class="nav-link " data-toggle="tab" href="#vtab1">
              <div class="media media-style-01 ">
                <div class="icon-style-1 order-md-1 custom-ml">
                  <div class="icon">
                    <i aria-hidden="true" class="icofont-wheelchair"></i>
                  </div>
                </div>
                <div class="media-body text-md-right">
                  <h5 class="mt-0">Wheelchair State</h5>
                  <p>Wheelchair battery level, Real time Speed, Real time Position</p>
                </div>
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a aria-expanded="false" class="nav-link" data-toggle="tab" href="#vtab2">
              <div class="media media-style-01">
                <div class="icon-style-1 order-md-1 custom-ml">
                  <div class="icon">
                    <i aria-hidden="true" class="icofont-ui-head-phone"></i>
                  </div>
                </div>
                <div class="media-body text-md-right">
                  <h5 class="mt-0">Headset state</h5>
                  <p>Headset battery level, Brain Signal quality</p>
                </div>
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#vtab3">
              <div class="media media-style-01">
                <div class="icon-style-1 order-md-1 custom-ml">
                  <div class="icon">
                    <i aria-hidden="true" class="icofont-hand-drag2"></i>
                  </div>
                </div>
                <div class="media-body text-md-right">
                  <h5 class="mt-0">Remote control</h5>
                  <p>Remote piloting using a camera installed on wheelchair</p>
                </div>
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#vtab4">
              <div class="media media-style-01">
                <div class="icon-style-1 order-md-1 custom-ml">
                  <div class="icon">
                    <i aria-hidden="true" class="icofont-history" style="transform: translate(2px,3px)"></i>
                  </div>
                </div>
                <div class="media-body text-md-right">
                  <h5 class="mt-0">History display</h5>
                  <p>15 days history display, Speed, position, wheelchair battery, Headset battery</p>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>

      <div class="col-lg-4 order-xl-2 order-1 overflow">
        <div class="image-frame m-auto">
          <div class="tab-content scren-image">
            <div aria-expanded="true" class="tab-pane no-padding" id="vtab1">
              <img alt="Image missing..." class="fade tab-content show" src="assets/img/mobile-app/screen-1.jpg">
            </div>
            <div aria-expanded="true" class="tab-pane no-padding" id="vtab2">
              <img alt="Image missing..." class="fade tab-content show" src="assets/img/mobile-app/screen-2.jpg">
            </div>
            <div aria-expanded="true" class="tab-pane no-padding" id="vtab3">
              <img alt="Image missing..." class="fade tab-content show" src="assets/img/mobile-app/screen-3.jpg">
            </div>
            <div aria-expanded="true" class="tab-pane no-padding" id="vtab4">
              <img alt="Image missing..." class="fade tab-content show" src="assets/img/mobile-app/screen-4.jpg">
            </div>
            <div aria-expanded="true" class="tab-pane  no-padding" id="vtab5">
              <img alt="Image missing..." class="fade tab-content show" src="assets/img/mobile-app/screen-1.jpg">
            </div>
            <div aria-expanded="true" class="tab-pane no-padding" id="vtab6">
              <img alt="Image missing..." class="fade tab-content show" src="assets/img/mobile-app/screen-2.jpg">
            </div>
            <div aria-expanded="true" class="tab-pane no-padding" id="vtab7">
              <img alt="Image missing..." class="fade tab-content show" src="assets/img/mobile-app/screen-3.jpg">
            </div>
            <div aria-expanded="true" class="tab-pane no-padding" id="vtab8">
              <img alt="Image missing..." class="fade tab-content show" src="assets/img/mobile-app/screen-4.jpg">
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 order-xl-3 order-3 col-md-6"
           data-aos="fade-left"
           data-aos-duration="500"
           data-aos-easing="ease-in-out"
           data-aos-delay="300"
      >
        <ul class="nav nav-tabs feature-tabs">
          <li class="nav-item">
            <a aria-expanded="true" class="nav-link" data-toggle="tab" href="#vtab5">
              <div class="media media-style-01 ">
                <div class="icon-style-1 custom-mr">
                  <div class="icon">
                    <i aria-hidden="true" class="icofont-location-pin"></i>
                  </div>
                </div>
                <div class="media-body">
                  <h5 class="mt-0">Tracking GPS</h5>
                  <p>Real time position tracking sent to the assistant</p>
                </div>
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a aria-expanded="false" class="nav-link" data-toggle="tab" href="#vtab6">
              <div class="media media-style-01">
                <div class="icon-style-1 custom-mr">
                  <div class="icon">
                    <i aria-hidden="true" class="icofont-lock"></i>
                  </div>
                </div>
                <div class="media-body">
                  <h5 class="mt-0">secure authentication</h5>
                  <p>Security wheelchair ID offered to connect to the mobile app</p>
                </div>
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#vtab7">
              <div class="media media-style-01">
                <div class="icon-style-1 custom-mr">
                  <div class="icon">
                    <i aria-hidden="true" class="icofont-notification"></i>
                  </div>
                </div>
                <div class="media-body">
                  <h5 class="mt-0">Realtime Notifications</h5>
                  <p>Battery level, High speed, Brain signal quality</p>
                </div>
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#vtab8">
              <div class="media media-style-01 ">
                <div class="icon-style-1 custom-mr">
                  <div class="icon">
                    <i aria-hidden="true" class="icofont-iphone"></i>
                  </div>
                </div>
                <div class="media-body">
                  <h5 class="mt-0">Simple Design</h5>
                  <p>The simplest, the fastest, the only what you need to know</p>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>

    </div>
  </div>

  <div class="row" data-aos="flip-up" data-aos-duration="500" data-aos-easing="ease-in-out" >
    <div class="download-app m-auto">
      <a href="https://play.google.com/store/apps?hl=en" target="_blank">
        <img alt="image missing..." class="mr-sm-3 img-fluid" src="assets/img/download-google.png">
      </a>

      <a href="https://www.apple.com/ios/app-store/" target="_parent">
        <img alt="image missing..." class="margin-custom img-fluid" src="assets/img/download-apple.png">
      </a>
    </div>
  </div>
</div>
