<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-lg-6">
      <h3 class="section-title-center text-center pt-3">MOBILE APP</h3>
      <p class="mt-2 text-center">Sint nulla facilisi auctor diam ducimus, at irure! aliquip anim tempus laudantium
        odit hymenaeos.</p>
    </div>
  </div>
  <div class="row mt-70">


    <div class="col-md-6 order-lg-1 order-2 col-lg-4"
         data-aos="fade-right"
         data-aos-duration="500"
         data-aos-easing="ease-in-out"
         data-aos-delay="300"
    >

      <ul class="nav nav-tabs feature-tabs">
        <li class="nav-item">
          <a aria-expanded="true" class="nav-link " data-toggle="tab" href="#vtab1">
            <div class="media media-style-01 ">
              <div class="icon-style-1 order-md-1 custom-ml">
                <div class="icon">
                  <i aria-hidden="true" class="icofont-pencil"></i>
                </div>
              </div>
              <div class="media-body text-md-right">
                <h5 class="mt-0">Manage Complex Work</h5>
                <p>Aut augue imperdiet pharetra lectus egestas perferendis aliquid nunc.</p>
              </div>
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a aria-expanded="false" class="nav-link" data-toggle="tab" href="#vtab2">
            <div class="media media-style-01">
              <div class="icon-style-1 order-md-1 custom-ml">
                <div class="icon">
                  <i aria-hidden="true" class="icofont-light-bulb"></i>
                </div>
              </div>
              <div class="media-body text-md-right">
                <h5 class="mt-0">Creative Desing</h5>
                <p>Aut augue imperdiet pharetra lectus egestas perferendis aliquid nunc.</p>
              </div>
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#vtab3">
            <div class="media media-style-01">
              <div class="icon-style-1 order-md-1 custom-ml">
                <div class="icon">
                  <i aria-hidden="true" class="icofont-lock"></i>
                </div>
              </div>
              <div class="media-body text-md-right">
                <h5 class="mt-0">Secure Your Data</h5>
                <p>Aut augue imperdiet pharetra lectus egestas perferendis aliquid nunc.</p>
              </div>
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#vtab4">
            <div class="media media-style-01">
              <div class="icon-style-1 order-md-1 custom-ml">
                <div class="icon">
                  <i aria-hidden="true" class="icofont-tools-bag"></i>
                </div>
              </div>
              <div class="media-body text-md-right">
                <h5 class="mt-0"> unlimited feature</h5>
                <p>Aut augue imperdiet pharetra lectus egestas perferendis aliquid nunc.</p>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>

    <div class="col-lg-4 order-lg-2 order-1 overflow">
      <div class="image-frame m-auto">
        <div class="tab-content scren-image">
          <div aria-expanded="true" class="tab-pane no-padding" id="vtab1">
            <img alt="Image missing..." class="fade tab-content show" src="assets/img/mobile-app/screen-1.jpg">
          </div>
          <div aria-expanded="true" class="tab-pane no-padding" id="vtab2">
            <img alt="Image missing..." class="fade tab-content show" src="assets/img/mobile-app/screen-2.jpg">
          </div>
          <div aria-expanded="true" class="tab-pane no-padding" id="vtab3">
            <img alt="Image missing..." class="fade tab-content show" src="assets/img/mobile-app/screen-3.jpg">
          </div>
          <div aria-expanded="true" class="tab-pane no-padding" id="vtab4">
            <img alt="Image missing..." class="fade tab-content show" src="assets/img/mobile-app/screen-4.jpg">
          </div>
          <div aria-expanded="true" class="tab-pane  no-padding" id="vtab5">
            <img alt="Image missing..." class="fade tab-content show" src="assets/img/mobile-app/screen-1.jpg">
          </div>
          <div aria-expanded="true" class="tab-pane no-padding" id="vtab6">
            <img alt="Image missing..." class="fade tab-content show" src="assets/img/mobile-app/screen-2.jpg">
          </div>
          <div aria-expanded="true" class="tab-pane no-padding" id="vtab7">
            <img alt="Image missing..." class="fade tab-content show" src="assets/img/mobile-app/screen-3.jpg">
          </div>
          <div aria-expanded="true" class="tab-pane no-padding" id="vtab8">
            <img alt="Image missing..." class="fade tab-content show" src="assets/img/mobile-app/screen-4.jpg">
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 order-lg-3 order-3 col-lg-4"
         data-aos="fade-left"
         data-aos-duration="500"
         data-aos-easing="ease-in-out"
        data-aos-delay="300"
    >
      <ul class="nav nav-tabs feature-tabs">
        <li class="nav-item">
          <a aria-expanded="true" class="nav-link" data-toggle="tab" href="#vtab5">
            <div class="media media-style-01 ">
              <div class="icon-style-1 custom-mr">
                <div class="icon">
                  <i aria-hidden="true" class="icofont-settings-alt"></i>
                </div>
              </div>
              <div class="media-body">
                <h5 class="mt-0">Tight Construction</h5>
                <p>Aut augue imperdiet pharetra lectus egestas perferendis aliquid nunc.</p>
              </div>
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a aria-expanded="false" class="nav-link" data-toggle="tab" href="#vtab6">
            <div class="media media-style-01">
              <div class="icon-style-1 custom-mr">
                <div class="icon">
                  <i aria-hidden="true" class="icofont-chart-flow-1"></i>
                </div>
              </div>
              <div class="media-body">
                <h5 class="mt-0">Flowcharts </h5>
                <p>Aut augue imperdiet pharetra lectus egestas perferendis aliquid nunc.</p>
              </div>
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#vtab7">
            <div class="media media-style-01">
              <div class="icon-style-1 custom-mr">
                <div class="icon">
                  <i aria-hidden="true" class="icofont-cloud-upload"></i>
                </div>
              </div>
              <div class="media-body">
                <h5 class="mt-0">Track Anything</h5>
                <p>Aut augue imperdiet pharetra lectus egestas perferendis aliquid nunc.</p>
              </div>
            </div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#vtab8">
            <div class="media media-style-01 ">
              <div class="icon-style-1 custom-mr">
                <div class="icon">
                  <i aria-hidden="true" class="icofont-map"></i>
                </div>
              </div>
              <div class="media-body">
                <h5 class="mt-0">Amazingly Easy to Fly</h5>
                <p>Aut augue imperdiet pharetra lectus egestas perferendis aliquid nunc.</p>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>

  </div>

  <div class="row" data-aos="flip-up" data-aos-duration="500" data-aos-easing="ease-in-out" >
    <div class="download-app m-auto">
      <a href="https://play.google.com/store/apps?hl=en" target="_blank">
        <img alt="image missing..." class="mr-sm-3 img-fluid" src="assets/img/download-google.png">
      </a>

      <a href="https://www.apple.com/ios/app-store/" target="_parent">
        <img alt="image missing..." class="margin-custom img-fluid" src="assets/img/download-apple.png">
      </a>
    </div>
  </div>
</div>
