<div class="col-xl-12 pr-lg-0">
  <div class="cz-product-gallery row">
    <div class="cz-preview col-xl overflow-hidden order-xl-2">
      <div *ngFor="let imageUrl of imageUrlArray ; let i = index">
        <div class="cz-preview-item" [class.active]="selectedProductImage === i+1" id="img-{{i+1}}">
          <img class="cz-image-zoom"
               src="{{url+imageUrl}}"
               alt="Accessories image">
          <div class="cz-image-zoom-pane"></div>
        </div>
      </div>
    </div>

    <div class="cz-thumblist col-xl-3 overflow-hidden order-xl-1">
      <a *ngFor="let imageUrl of imageUrlArray ; let i = index" class="cz-thumblist-item"
         [class.active]="selectedProductImage === i+1" (click)="selectedProductImage = i+1">
        <img src="{{url+imageUrl}}" alt="Accessories thumb">
      </a>


    </div>
  </div>
</div>
