<app-form-accessorie-order [quantity]="[quantity]" price="{{accessorie.price}}" accessorieName="{{accessorie.name}}" accessorieID="{{accessorie.id}}" *ngIf="accessorie"></app-form-accessorie-order>
<main id="main">

  <!-- ======= MOOVOBRAIN Section ======= -->
  <div class="content-body">
    <!-- app ecommerce details start -->
    <section class="app-ecommerce-details">
      <div class="card">
        <div class="card-body">
          <div class="row mb-5 mt-2">
            <div class="col-12 col-md-5 align-items-center justify-content-center mb-2 mb-md-0">
              <div class="align-items-center justify-content-center">
                <app-gallerie *ngIf="showGallerie" [imageUrlArray]="accessorie.imageURL"></app-gallerie>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <h5 *ngIf="accessorie">{{accessorie.name}}
              </h5>
              <p class="text-muted">by Gewinner</p>
              <div class="ecommerce-details-price flex-wrap">

                <p class="text-success price font-medium-3 mb-0" *ngIf="accessorie">{{accessorie.price}} TND</p>
                <div class="rating">
                <span class="rate" id="stars">
                <i (click)="starClicked(1)" class="icofont-star" id="star1"></i>
                <i (click)="starClicked(2)" class="icofont-star" id="star2"></i>
                <i (click)="starClicked(3)" class="icofont-star" id="star3"></i>
                <i (click)="starClicked(4)" class="icofont-star" id="star4"></i>
                <i (click)="starClicked(5)" class="icofont-star" id="star5"></i>
              </span>
                </div>
                <span class="ml-50 ml-1 text-dark font-medium-1" *ngIf="accessorie">{{ratings}} ratings</span>
              </div>
              <hr>
              <p *ngIf="accessorie">{{accessorie.description}}</p>
              <p class="font-weight-bold mb-25"><i class="feather icofont-free-delivery mr-50 font-medium-2"></i> Free
                Shipping
              </p>
              <hr>
              <p *ngIf="accessorie && accessorie.isAvailable">Available - <span class="text-success">In stock</span></p>
              <p *ngIf="accessorie && !accessorie.isAvailable">Available - <span class="text-danger">Out of stock</span>
              </p>


              <div class="d-inline-block mb-1">
                <p style="display: inline">Quantity </p>
                <div class="input-group bootstrap-touchspin">
                  <span class="input-group-btn input-group-prepend bootstrap-touchspin-injected">
                    <button class="btn btn-primary bootstrap-touchspin-down" (click)="quantityMinus()"
                            type="button">-</button>
                  </span>
                  <input type="number" id="quantity" [(ngModel)]="quantity" class="touchspin form-control" value="1">
                  <span class="input-group-btn input-group-append bootstrap-touchspin-injected">
                    <button class="btn btn-primary bootstrap-touchspin-up" (click)="quantityPlus()"
                            type="button">+</button>
                  </span>
                </div>
              </div>


              <div class="d-flex flex-column flex-sm-row">
                <button class="btn btn-primary btn-padding mr-0 mr-sm-2 mb-1 mb-sm-0" data-toggle="modal"
                        data-target="#accessorie-order-modal"><i
                  class="feather icofont-cart-alt mr-25"></i>ORDER NOW
                </button>
              </div>


            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- app ecommerce details end -->

  </div>


</main>


