<!-- ===== when going dynamic use the slice pipe for paragraph ellipsis ===== -->
<!-- ===== when implementing nodejs try to resize images in back-end for a better responsive view and less loading time ===== -->


<div id="main">
  <section class="no-bottom-padding" data-aos="fade-up" data-aos-duration="500" data-aos-easing="ease-in-out">
    <div class="container-lg">
      <div class="row">

        <div class="col-lg-8 blog_grid_info" style="margin-bottom: 5px;">

          <router-outlet></router-outlet>

        </div>


        <div class="col-lg-4">
          <app-news-sidebar></app-news-sidebar>
        </div>

      </div>
    </div>
  </section>
</div>
