a {
  outline: none;
}

.no-bottom-padding {
  padding-bottom: 0 !important;
}

.news-item img {
  border-radius: 6px;
  position: relative;
}

.col-lg-6 {
  float: left;
}

.margin-bottom {
  margin: 0 0 60px;
}

figure img:hover{
  transform: scale(1.1);
  border-radius: 50px;
}

figure img{
  transition: 0.2s;
}

figure {
  margin: 0;
}
@media only screen and (min-width: 576px) {
  figure {
    width: 100% !important;
    height: 230px !important;
    overflow: hidden !important;
    /*border: 5px solid red;*/
  }

  figure img {
    width:100% !important;
    height:100% !important;
    object-fit: cover !important;
  }
}
@media only screen and (max-width: 576px) {
  figure {
    width: unset;
    height: unset;
    overflow: unset;
  }
}


/*.news-item img {*/

/*  object-fit: cover;*/
/*}*/

/*@media only screen and (min-width: 992px) {*/
/*  .news-item img {*/
/*    height: 250px;*/
/*  }*/
/*}*/


/*@media only screen and (min-width: 768px) {*/
/*  .news-item img {*/
/*    height: 300px;*/
/*  }*/
/*}*/

/*@media only screen and (min-width: 576px) {*/
/*  .news-item img {*/
/*    height: 235px;*/
/*  }*/
/*}*/

.post-date {
  position: absolute;
  left: 34px;
  top: 19px;
  border-radius: 4px;
  background-color: #fbfbfd85;
  -webkit-box-shadow: 0px 14px 30px 0px rgba(68, 28, 183, 0.25);
  box-shadow: 0px 14px 30px 0px rgba(68, 28, 183, 0.25);
  text-align: center;
  color: #4b505e;
  padding: 7px 19px;
  z-index: 1;
}

.post-date h2 {
  color: #4b505e;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0;
}

.post-date span {
  display: block;
  font-size: 15px;
  font-weight: 400;
}

.blog-content {
  padding: 20px;
  height: auto;
  width: 100%;
  box-shadow: none;
  position: relative;
  background: white;
}

.blog-content .blog-title {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  color: #222d39;
  line-height: 36px;
  font-weight: 600;
  margin-bottom: 10px;
}

.blog-content .blog-title:hover {
  color: #273B86;
}

.blog-content p {
  color: #677294;
  font: 300 16px "Poppins", sans-serif;
  margin: 0 0 25px;
  line-height: 28px;
}

.read-more {
  font: 13px "Poppins", sans-serif;
  color: #282835;
  text-transform: uppercase;
  margin-top: 0px;
  line-height: 20px;
  display: inline-block;
  font-weight: 600;
  transition: color 0.5s ease;
  position: absolute;
  bottom: 8%;
}

.read-more:hover {
  color: #273B86;
}

.read-more i {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  transition: 0.3s;
}

.read-more:hover i {
  transform: translate(5px, -50%);
}

.hover-underline {
  position: relative;
}

.hover-underline::before {
  content: '';
  position: absolute;
  width: 100%;
  transform: scale(0);
  height: 1px;
  bottom: -1px;
  left: 0;
  background-color: #273B86;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.read-more:hover .hover-underline::before {
  transform: scale(1);
  transform-origin: bottom left;
}




.blog-sidebar {
  /*padding: 0 0 0 40px;*/
  padding: 0;
  margin-top: 0px;
}

.quotes-title {
  color: #282835;
  font-size: 20px;
  /*font-family: 'Roboto', sans-serif;*/
  /*font-family: "Poppins", sans-serif;*/
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0 0 30px;
  font-weight: 900;
}


.quote-block {
  height: 100px;
  padding: 5px 10px 5px 20px;
  box-shadow: 0px 10px 30px 0px rgba(20, 3, 67, 0.08);
  overflow: hidden;
  border-left: 6px solid #273B86;
  border-radius: 6px;
  position: relative;
  box-sizing: border-box;
}

.quote-block .quote-text {
  white-space: pre-wrap;
  font-size: 14px !important;
  color: #525c7c !important;
  font-style: italic;
  line-height: 20px !important;
  margin-bottom: 0 !important;
  margin-top: 5px !important;
  font-family: 'Vollkorn', serif !important;
}

.author-name {
  color: #848ca5;
  line-height: 40px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 9px;
  font-weight: 600;
  margin-top: 5px;
  display: initial;
  float: right;
}

/* quote closing icon on the background */
.quote-content:after {
  content: "\efcd";
  font-family: IcoFont;
  font-weight: 900;
  position: absolute;
  right: 30px;
  top: 7%;
  color: #f2effd;
  font-size: 100px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  z-index: -1;
}

media-body {
  flex: 1;
  font-family: Roboto, "Helvetica Neue", sans-serif;;
}

.future-events-item {
  margin-bottom: 30px;
  margin-left: 30px;
}

.future-events-item .future-event-title {
  font: 500 16px/22px "Poppins", sans-serif;
  color: #222d39;
  font-weight: bold;
  margin-bottom: 0;
  transition: 0.2s;
}

.future-events-item .future-event-title:hover {
  color: #273B86;
}

.future-events-item .future-event-date {
  color: #85859c;
  font-weight: 400;
  text-transform: uppercase;
  font: 14px / 25px "Poppins", sans-serif;
  padding-bottom: 5px;
}


