<!-- remove the d-none class to show this section on both moovobrain modes -->
<section [class.d-none]="isVoiceMode" class="section-padding bg-gradient" id="promo" >
  <div class="container">
    <div class="row justify-content-center">
      <div class="home-promo-video col-md-6 col-12 ">
        <div class="promo-video">
            <a href="https://www.youtube.com/watch?v=aKE6OoGJm_A" class="venobox video-link  play-btn mb-4 vbox-item" data-vbtype="video" data-autoplay="true">
							<span>
								<i>
									<svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid" width="26" height="34" viewBox="0 0 26 34">
									  <path d="M25.420,18.349 L2.486,33.849 C2.210,34.037 1.888,34.133 1.567,34.133 C1.305,34.133 1.042,34.071 0.804,33.944 C0.268,33.661 -0.067,33.106 -0.067,32.500 L-0.067,1.499 C-0.067,0.894 0.268,0.338 0.804,0.056 C1.340,-0.229 1.986,-0.189 2.488,0.151 L25.421,15.651 C25.865,15.955 26.133,16.459 26.133,16.999 C26.133,17.540 25.865,18.045 25.420,18.349 Z" class="video-icon"/>
									</svg>
								</i>
							</span>
          </a>
        </div>
        <span class="text ">Watch Video Demo</span>
      </div>
    </div>
  </div>
</section>
