<!-- ======= Hero Section ======= -->
<app-hero [imageName]="'hero.jpg'" [isOnHome]="false"></app-hero>


<main id="main">

  <!-- ======= MOOVOBRAIN Section ======= -->
  <section style="padding-top: 0 ;" class="pb-0 pb-md-5">
    <app-product [isVoiceMode]="isVoiceMode"></app-product>
    <app-moovobrain-video [isVoiceMode]="isVoiceMode" [isBrainMode]="!isVoiceMode"></app-moovobrain-video>
    <app-moovobrain-mobile-app *ngIf="!isVoiceMode"></app-moovobrain-mobile-app>
    <app-moovobrain-tablet-app *ngIf="isVoiceMode"></app-moovobrain-tablet-app>
    <app-reviews></app-reviews>
  </section>
  <app-moovobrain-forms></app-moovobrain-forms>


</main>
