<div class="row">
  <div class="col-md-6" [class.col-md-12]="moovobrainRequestsService.hasFeedback">
    <div class="justify-content-center">
      <table class="text-left mx-auto">
        <tr>
          <td class="rating-label">Excellent</td>
          <td class="rating-bar">
            <div class="bar-container">
              <div class="bar bar-5"></div>
            </div>
          </td>
          <td>{{reviewsNumber[4]}}</td>
        </tr>
        <tr>
          <td class="rating-label">Good</td>
          <td class="rating-bar">
            <div class="bar-container">
              <div class="bar bar-4"></div>
            </div>
          </td>
          <td>{{reviewsNumber[3]}}</td>
        </tr>
        <tr>
          <td class="rating-label">Average</td>
          <td class="rating-bar">
            <div class="bar-container">
              <div class="bar bar-3"></div>
            </div>
          </td>
          <td>{{reviewsNumber[2]}}</td>
        </tr>
        <tr>
          <td class="rating-label">Bad</td>
          <td class="rating-bar">
            <div class="bar-container">
              <div class="bar bar-2"></div>
            </div>
          </td>
          <td>{{reviewsNumber[1]}}</td>
        </tr>
        <tr>
          <td class="rating-label">Brutal</td>
          <td class="rating-bar">
            <div class="bar-container">
              <div class="bar bar-1"></div>
            </div>
          </td>
          <td>{{reviewsNumber[0]}}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col-md-6" *ngIf="!moovobrainRequestsService.hasFeedback">
              <textarea class="form-control feedback-textArea" name="feedback" id="feedback"
                        width="100%" rows="3"
                        placeholder="Leave a Feedback*" #description></textarea>
    <div class="stars-submit-container">
      <div class="rating">
                <span class="rate" id="stars">
                <i (click)="starClicked(1)" class="icofont-star" id="star1"></i>
                <i (click)="starClicked(2)" class="icofont-star" id="star2"></i>
                <i (click)="starClicked(3)" class="icofont-star" id="star3"></i>
                <i (click)="starClicked(4)" class="icofont-star" id="star4"></i>
                <i (click)="starClicked(5)" class="icofont-star" id="star5"></i>
              </span>
      </div>
      <button class="send-button" [disabled]="!ratingGiven" (click)="submitFeedback(description)">
        <app-loader addSpace="true" *ngIf="isLoading" radius="18" ></app-loader>Send Feedback
      </button>
    </div>
  </div>
</div>
