<main id="main">


  <!-- ======= Team Section ======= -->
  <section class="team" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
    <div class="container">

      <div class="row">


          <p class="text-dark" style="font-size: 24px" *ngIf="isError">
            <strong>ERROR 500 :</strong><br> Server not responding , please try again later.
          </p>


        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" *ngFor="let teamMember of teamMembers">
          <div class="member">
            <div class="member-img">
              <img src="{{url+teamMember.imageURL}}" class="img-fluid" alt="">
            </div>
            <div class="member-info">
              <h4>{{teamMember.name}}</h4>
              <span>{{teamMember.post}}</span>
<!--              <p>Animi est delectus alias quam repellendus nihil nobis dolor. Est sapiente occaecati et dolore. Omnis aut ut nesciunt explicabo qui. Eius nam deleniti ut omnis repudiandae perferendis qui. Neque non quidem sit sed pariatur quia modi ea occaecati. Incidunt ea non est corporis in.</p>-->
            </div>
          </div>
        </div>


      </div>

    </div>
  </section><!-- End Team Section -->

</main><!-- End #main -->
