<section style="padding-top: 0" id="moovobrain-product">
  <div class="container overflow-hidden">
    <div class="section-header">
      <h2 class="section-title text-center">Features</h2>
      <p class="text-center">
        smart indoor wheelchair that make your life easier without using neither upper nor lower members
        <br> With your brain, you can pilot your wheelchair
        two speed level (low speed, high speed)<br> 150 Kg max weight supported - 6 hours full functional

      </p>
    </div>
    <div class="row">

      <div class="col-lg-6 text-center" id="moovobrain-img" data-aos="fade-right" data-aos-duration="500" data-aos-easing="ease-in-out">
        <img class="img-fluid" src="assets/img/wheelchair.jpg" alt="image missing...">
      </div>

      <div class="col-lg-6" id="moovobrain-info" data-aos="fade-left" data-aos-duration="500" data-aos-easing="ease-in-out">
        <div class="media service-box">
          <div class="pull-left">
            <i class="icofont-brain-alt"></i>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Brain Piloting</h4>
            <p>You can change the speed by your attention, the direction by your eyes blinking</p>
          </div>
        </div>

        <div class="media service-box">
          <div class="pull-left">
            <i class="icofont-iphone"></i>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Associated Mobile App</h4>
            <p>A Realtime remote control and stakeout mean of wheelchair’s state and headset’s states</p>
          </div>
        </div>

        <div class="media service-box">
          <div class="pull-left">
            <i class="icofont-safety"></i>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Security system</h4>
            <p>Notifications to the assistant when normal states change with obstacles detection </p>
          </div>
        </div>

        <div class="buttons text-center text-md-right">
          <button class="btn custom-margin" data-toggle="modal" data-target="#order-modal">
           <i class="icofont-cart-alt order-icon"></i> <span class="btn-text"> Order Now</span>
          </button>

          <button class="btn " data-toggle="modal" data-target="#test-modal">
            <i class="icofont-wheelchair order-icon"></i><span class="btn-text"> Test Moovobrain </span>
          </button>
        </div>

      </div>
    </div>
  </div>
</section>
