i {
  display: inline-block;
  font-size: 40px !important;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

p {
  margin: 0 0 10px;
  font-size: 16px !important;
  font-family: 'Roboto', sans-serif;
}

h4 , button {
  font-size: 18px !important;
}

h2 {
  font-size: 44px;
}

h2, h4 {
  font-family: 'Roboto', sans-serif;
}

h2, h4 {
  font-weight: 600;
  color: #272727;
}

.section-header {
  margin-bottom: 50px;
}

.section-header .section-title {
  font-size: 44px;
  color: #272727;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 20px;
  margin: 0 0 20px;
}

.section-header .section-title:before {
  content: "";
  position: absolute;
  width: 140px;
  bottom: 0;
  left: 50%;
  margin-left: -70px;
  height: 1px;
  background: #ebebeb;
}

.section-header .section-title:after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  bottom: -11px;
  left: 50%;
  margin-left: -12px;
  border: 5px solid #fff;
  border-radius: 20px;
  background: #45aed6;
}


#services {
  padding: 100px 0 75px;
}

.media.service-box {
  margin: 25px 0;
  cursor: pointer;
}

.media.service-box .pull-left {
  margin-right: 20px;
}

.media.service-box .pull-left > i {
  font-size: 24px;
  height: 64px;
  line-height: 64px;
  text-align: center;
  width: 64px;
  border-radius: 100%;
  color: #00104b;
  box-shadow: inset 0 0 0 1px #d7d7d7;
  -webkit-box-shadow: inset 0 0 0 1px #d7d7d7;
  -webkit-transition: background-color 400ms, background-color 400ms;
  transition: background-color 400ms, background-color 400ms;
  position: relative;
}

.media.service-box .pull-left > i:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  margin-top: -10px;
  right: -10px;
  border: 4px solid #fff;
  border-radius: 20px;
  background: #45aed6;
  transition: font-size 0.4s;
}

.media.service-box:hover .pull-left > i {
  font-size: 45px !important;
}

.buttons{
  text-align: right;
}

.buttons > button{
  color: #00104b;
  font-weight: 600;
  border-color: #00104b;
  font-size: 20px !important;
  transition: 0.3s;
  height: 43px;
  width: 214px;
}



@media only screen and (min-width: 469px) {
  .custom-margin{margin-right: 10px !important}
}

@media only screen and (max-width: 468px) {
  .custom-margin{margin-bottom: 10px !important;margin-right: 10px;margin-left: 10px}
}

.buttons button:hover{
  background: rgba(0, 0, 0, 0.05);
}

.order-icon{
  font-size: 20px !important;
}


